// Current
$color-white: #fff;

$color-neutral-000: #f9f8fb;
$color-neutral-100: #f5f4f9;
$color-neutral-200: #e8e5ee;
$color-neutral-300: #d1ced9;
$color-neutral-400: #b8b5c5;
$color-neutral-500: #918ca1;
$color-neutral-600: #726d83;
$color-neutral-700: #534e65;
$color-neutral-800: #332e42;
$color-neutral-900: #1a1726;
$color-black: #000;

$color-primary-000: #fbfaff;
$color-primary-100: #f3f0fe;
$color-primary-200: #dfd8f8;
$color-primary-300: #bbadeb;
$color-primary-400: #9581da;
$color-primary-500: #6e50d7;
$color-primary-600: #5331c6;
$color-primary-700: #3c1da5;
$color-primary-800: #240d73;
$color-primary-900: #130052;
$color-primary: $color-primary-600;

$color-secondary-100: #effafe;
$color-secondary-200: #bdf1ff;
$color-secondary-300: #75e3ff;
$color-secondary-400: #29cdfa;
$color-secondary-500: #00ace0;
$color-secondary-600: #007bbd;
$color-secondary-700: #006296;
$color-secondary-800: #00476e;
$color-secondary-900: #002e47;
$color-secondary: $color-secondary-300;

$color-red-100: #ffebed;
$color-red-200: #fed2d7;
$color-red-300: #fa9ea9;
$color-red-400: #ed5e6f;
$color-red-500: #e12037;
$color-red-600: #bd192c;
$color-red-700: #941423;
$color-red-800: #6f0612;
$color-red-900: #52000a;
$color-red: $color-red-500;

$color-orange-100: #fff0e0;
$color-orange-200: #ffddbd;
$color-orange-300: #ffb06b;
$color-orange-400: #ff8e38;
$color-orange-500: #f97010;
$color-orange-600: #db5b00;
$color-orange-700: #b84600;
$color-orange-800: #802f00;
$color-orange-900: #571e00;
$color-orange: $color-orange-500;

// Todo: Generate other color shades
$color-gold-500: #ffb300;
$color-gold: $color-gold-500;

$color-yellow-100: #fbf8d0;
$color-yellow-200: #f9f0ae;
$color-yellow-300: #f6e183;
$color-yellow-400: #eccc2a;
$color-yellow-500: #edbd12;
$color-yellow-600: #d29b2d;
$color-yellow-700: #a47028;
$color-yellow-800: #714219;
$color-yellow-900: #4d260e;

$color-green-100: #e2fdf3;
$color-green-200: #bef9e1;
$color-green-300: #82e3bc;
$color-green-400: #2fca8d;
$color-green-500: #14a36b;
$color-green-600: #017f4d;
$color-green-700: #01603a;
$color-green-800: #004228;
$color-green-900: #00331f;
$color-green: $color-green-600;

$colors: (
  "color-green": $color-green,
  "color-green-100": $color-green-100,
  "color-green-200": $color-green-200,
  "color-green-300": $color-green-300,
  "color-green-400": $color-green-400,
  "color-green-500": $color-green-500,
  "color-green-600": $color-green-600,
  "color-green-700": $color-green-700,
  "color-green-800": $color-green-800,
  "color-green-900": $color-green-900,
  "color-white": $color-white,
  "color-neutral-000": $color-neutral-000,
  "color-neutral-100": $color-neutral-100,
  "color-neutral-200": $color-neutral-200,
  "color-neutral-300": $color-neutral-300,
  "color-neutral-400": $color-neutral-400,
  "color-neutral-500": $color-neutral-500,
  "color-neutral-600": $color-neutral-600,
  "color-neutral-700": $color-neutral-700,
  "color-neutral-800": $color-neutral-800,
  "color-neutral-900": $color-neutral-900,
  "color-black": $color-black,
  "color-orange": $color-orange,
  "color-orange-100": $color-orange-100,
  "color-orange-200": $color-orange-200,
  "color-orange-300": $color-orange-300,
  "color-orange-400": $color-orange-400,
  "color-orange-500": $color-orange-500,
  "color-orange-600": $color-orange-600,
  "color-orange-700": $color-orange-700,
  "color-orange-800": $color-orange-800,
  "color-orange-900": $color-orange-900,
  "color-primary": $color-primary,
  "color-primary-000": $color-primary-000,
  "color-primary-100": $color-primary-100,
  "color-primary-200": $color-primary-200,
  "color-primary-300": $color-primary-300,
  "color-primary-400": $color-primary-400,
  "color-primary-500": $color-primary-500,
  "color-primary-600": $color-primary-600,
  "color-primary-700": $color-primary-700,
  "color-primary-800": $color-primary-800,
  "color-primary-900": $color-primary-900,
  "color-red": $color-red,
  "color-red-100": $color-red-100,
  "color-red-200": $color-red-200,
  "color-red-300": $color-red-300,
  "color-red-400": $color-red-400,
  "color-red-500": $color-red-500,
  "color-red-600": $color-red-600,
  "color-red-700": $color-red-700,
  "color-red-800": $color-red-800,
  "color-red-900": $color-red-900,
  "color-secondary": $color-secondary,
  "color-secondary-100": $color-secondary-100,
  "color-secondary-200": $color-secondary-200,
  "color-secondary-300": $color-secondary-300,
  "color-secondary-400": $color-secondary-400,
  "color-secondary-500": $color-secondary-500,
  "color-secondary-600": $color-secondary-600,
  "color-secondary-700": $color-secondary-700,
  "color-secondary-800": $color-secondary-800,
  "color-secondary-900": $color-secondary-900,
  "color-yellow-100": $color-yellow-100,
  "color-yellow-200": $color-yellow-200,
  "color-yellow-300": $color-yellow-300,
  "color-yellow-400": $color-yellow-400,
  "color-yellow-500": $color-yellow-500,
  "color-yellow-600": $color-yellow-600,
  "color-yellow-700": $color-yellow-700,
  "color-yellow-800": $color-yellow-800,
  "color-yellow-900": $color-yellow-900,
);

// basic colors
// Legacy; deprecated
$gray-lightest: #f2f2f2;
$gray-light: #d3d3d3;
$gray-darkest: #31394d;
$bluegray: #748aa1;
$bluegray-light: #d4dde7;
$bluegray-lightest: #e8ecef;

$blue-dark: #596fb6;
$blue: #327bf8;
$blue-privacy-icon: #0265fe;
$blue-lightest: #f3f6fe;

$purple: #4d3dcd;
$purple-lightest: #edecfa;

$orange: #f2994a;
$yellow: #feca4e;
$red: #eb5757;
$green: #27ae60;

// specific color uses
$color-text-main: $gray-darkest;
$color-text-light: $bluegray;

$background-light: $blue-lightest;
$background-white: white;
$background-white-hover: rgba(255, 255, 255, 0.1);

$color-box-shadow: $bluegray-lightest;
$color-paper-divider: $bluegray-lightest;

$color-workflow-active: $blue;

$event-color-sent: #56ccf2;
$event-color-message: $bluegray;

$color-primary: $blue;
$color-secondary: $yellow;
$color-error: $red;
$color-warning: $orange;
$color-success: $green;
$color-fill: $purple;
$color-fill-disabled: rgba($purple, 0.26);

$color-survey-alert-background: $color-gold;
$color-survey-alert-text: $color-black;

$color-disabled: rgba(0, 0, 0, 0.26);

$color-form-label: rgba(0, 0, 0, 00.54);
$color-form-border: rgba(0, 0, 0, 0.23);

$color-menu-selection-gray: $gray-lightest;
$color-default-org-icon: $gray-light;
$letter-avatar-color: #4d3dcd;

$color-primary-nav-background: $color-neutral-000;
$color-primary-nav-disabled: $color-neutral-500;
$color-primary-nav-link: $color-neutral-900;

.bg-gray {
  background-color: $color-neutral-100;
}
