%fill {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.bold-link {
  font-weight: map-get($font-weights, "bold");
  color: $color-secondary-600;
}

a.regular-link {
  font-weight: map-get($font-weights, "regular");
  color: $color-secondary-600;
}

.d-inline-block {
  display: inline-block;
}

.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle !important;
}

.neutral-500 {
  color: $color-neutral-500;
}
.neutral-900 {
  color: $color-neutral-900;
}
