$font-main: "Roboto", sans-serif;
$font-mono: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
  monospace;
$fonts: (
  "main": $font-main,
  "mono": $font-mono,
);

$font-sizes: (
  "t10": 72px,
  "t9": 60px,
  "t8": 48px,
  "t7": 36px,
  "t6": 30px,
  "t5": 24px,
  "t4": 20px,
  "t3": 18px,
  "t2": 16px,
  "t1": 14px,
  "t0": 12px,
);

$line-heights: (
  "t10": 108px,
  "t9": 90px,
  "t8": 72px,
  "t7": 54px,
  "t6": 54px,
  "t5": 36px,
  "t4": 30px,
  "t3": 28px,
  "t2": 24px,
  "t1": 21px,
  "t0": 18px,
);

$font-weights: (
  "black": 900,
  "bold": 700,
  "medium": 500,
  "regular": 400,
  "light": 300,
);

$letter-spacings: (
  "spread": 7%,
  "extra-wide": 2%,
  "wide": 1%,
  "narrow": 0.5%,
);

$type-scale: (
  "t10": (
    "bold": false,
    "regular": false,
  ),
  "t9": (
    "bold": false,
    "regular": false,
  ),
  "t8": (
    "bold": false,
    "regular": false,
  ),
  "t7": (
    "bold": false,
    "regular": false,
  ),
  "t6": (
    "bold": false,
    "regular": false,
  ),
  "t5": (
    "bold": "wide",
    "medium": false,
    "regular": false,
  ),
  "t4": (
    "bold": "wide",
    "regular": false,
  ),
  "t3": (
    "bold": "extra-wide",
    "medium": false,
    "regular": false,
  ),
  "t2": (
    "black": "extra-wide",
    "bold": "narrow",
    "medium": false,
    "regular": false,
  ),
  "t1": (
    "bold": "narrow",
    "regular": false,
    // There is an additional allowed version 'regular spread' with all caps that is manually added
  ),
  "t0": (
    "bold": "narrow",
    "regular": false,
  ),
);

@mixin typography($scale, $weight: false, $spacing: false) {
  @if not map-has-key($font-sizes, $scale) {
    @error "#{$scale} missing from $font-sizes";
  }
  $font-size: map-get($font-sizes, $scale);

  @if not map-has-key($line-heights, $scale) {
    @error "#{$scale} missing from $line-heights";
  }
  $line-height: map-get($line-heights, $scale);

  @if $weight and not map-has-key($font-weights, $weight) {
    @error "Unknown $font-weight #{$weight}";
  }
  $font-weight: map-get($font-weights, $weight);

  @if $spacing and not map-has-key($letter-spacings, $spacing) {
    @error "Unknown $letter-spacing #{$spacing}";
  }
  $letter-spacing: map-get($letter-spacings, $spacing);

  font-size: $font-size;
  line-height: $line-height;
  @if $font-weight {
    font-weight: $font-weight;
  }
  @if $spacing {
    letter-spacing: $letter-spacing;
  }
}
