// Spacing

// Current
$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-mdlg: 24px;
$space-lg: 32px;
$space-xl: 48px;
$space-xxl: 64px;
$space-xxxl: 96px;
$space-96: 96px;
$space-128: 128px;
$space-192: 192px;
$space-240: 240px;
$space-256: 256px;
$space-300: 300px;
$space-360: 360px;
$space-384: 384px;
$space-400: 400px;
$space-512: 512px;
$space-640: 640px;
$space-650: 650px;
$space-768: 768px;
$space-840: 840px;
$space-896: 896px;
$space-960: 960px;

$named-spaces: (
  "xxxs": $space-xxxs,
  "xxs": $space-xxs,
  "xs": $space-xs,
  "sm": $space-sm,
  "md": $space-md,
  "mdlg": $space-mdlg,
  "lg": $space-lg,
  "xl": $space-xl,
  "xxl": $space-xxl,
  "xxxl": $space-xxxl,
  "96": $space-96,
  "128": $space-128,
  "192": $space-192,
  "240": $space-240,
  "256": $space-256,
  "300": $space-300,
  "360": $space-360,
  "384": $space-384,
  "400": $space-400,
  "512": $space-512,
  "640": $space-640,
  "650": $space-650,
  "768": $space-768,
  "840": $space-840,
  "896": $space-896,
  "960": $space-960,
);

// Container Widths
$min-container-width: 665px;
$max-container-width: 800px;
$min-container-width--wide: $space-896;
$max-container-width--wide: $space-896;
$header-width--wide: $space-896;

// full page height minus the height of the page footer
$page-height: calc(100vh - 85px);

// Table size variables
$get-compliant-max-table-width: $space-896;
$get-compliant-header-width: $space-896;
$get-compliant-text-width: $space-896;

// one-off fixed sizes
$get-compliant-progress-nav-width: 272px;

$border-radius: 5px;
$nav-width: 50px;
$secondary-nav-width: 200px;

$request-panel-progress-width: 165px;
$large-panel-sidebar-width: 245px;
$data-subject-panel-width: 300px;
$new-request-form-max-width: 600px;

$tab-panel-empty-height: 300px;

$vendor-selection-info-width: 240px;

$stepper-icon-size: 45px;
$stepper-connector-gap: 29px;
$stepper-line-width: 150px;
$stepper-root-margin: 30px;

$avatar-size-sm: 30px;
$avatar-size-md: 45px;
$avatar-size-xl: 124px;

$letter-avatar-sm: 35px;
$letter-avatar-md: 50px;
$letter-avatar-lg: 125px;

$service-icon-small: 24px;

$progress-bar-height: 16px;

$mailbox-width: 270px;
$privacy-center-listing-box-width: 270px;
$service-catalog-panel-min-width: 1095px;
$service-tile-width: 270px;
$popover-min-width: 150px;

$settings-text-input-width: 415px;

$optional-policy-document-content-height: 430px;
$optional-policy-document-empty-height: 498px;

$caps-letter-spacing: 0.08em;

$close-icon-vendor-top-margin: 6px;

// this is space-md plus a small amount of padding to account for the bullet
$ul-left-padding: $space-md + 3px;

//// stupid spacing variables ////
// this is the distance text should be padded to be aligned under the label of a material-ui
// checkbox.
$mui-checkbox-label-offset: 36px;

// the distance text should be padded to align under the label of a material-ui radio button
$mui-radio-label-offset: 31px;

//// speed variables ////
$animation-time-fast: 0.12s;
$animation-time: 0.2s;
$animation-time-slow: 0.45s;

// utility variables
$box-shadow: 0px 1px 4px $color-box-shadow;
$box-shadow-heavy: 0px 4px 4px rgba(0, 0, 0, 0.25);

:root {
  // Current
  --color-primary-dark: #{$color-primary-900};
  --color-primary-main: #{$color-primary-600};
  --color-primary-light: #{$color-primary-300};
  --color-secondary-dark: #{$color-secondary-900};
  --color-secondary-main: #{$color-secondary-600};
  --color-secondary-light: #{$color-secondary-300};
  --color-info-dark: #{$color-neutral-600};
  --color-info-main: #{$color-neutral-300};
  --color-info-light: #{$color-neutral-100};
  --color-error-dark: #{$color-red-900};
  --color-error-main: #{$color-red-600};
  --color-error-light: #{$color-red-300};
  --color-warning-dark: #{$color-yellow-900};
  --color-warning-main: #{$color-yellow-300};
  --color-warning-light: #{$color-yellow-100};
  --color-success-dark: #{$color-green-900};
  --color-success-main: #{$color-green-600};
  --color-success-light: #{$color-green-300};
  --color-text-primary: #{$color-neutral-900};
  --color-text-secondary: #{$color-neutral-700};
  --color-text-disabled: #{$color-neutral-500};
  --color-grey-000: #{$color-neutral-000};
  --color-grey-100: #{$color-neutral-100};
  --color-grey-200: #{$color-neutral-200};
  --color-grey-300: #{$color-neutral-300};
  --color-grey-400: #{$color-neutral-400};
  --color-grey-500: #{$color-neutral-500};
  --color-grey-600: #{$color-neutral-600};
  --color-grey-700: #{$color-neutral-700};
  --color-grey-800: #{$color-neutral-800};
  --color-grey-900: #{$color-neutral-900};
  --color-yellow-100: #{$color-yellow-100};
  --color-yellow-200: #{$color-yellow-200};
  --color-yellow-300: #{$color-yellow-300};
  --color-yellow-400: #{$color-yellow-400};
  --color-yellow-500: #{$color-yellow-500};
  --color-yellow-600: #{$color-yellow-600};
  --color-yellow-700: #{$color-yellow-700};
  --color-yellow-800: #{$color-yellow-800};
  --color-yellow-900: #{$color-yellow-900};
  --space-xxxs: #{$space-xxxs};
  --space-xxs: #{$space-xxs};
  --space-xs: #{$space-xs};
  --space-sm: #{$space-sm};
  --space-md: #{$space-md};
  --space-mdlg: #{$space-mdlg};
  --space-lg: #{$space-lg};
  --space-xl: #{$space-xl};
  --space-xxl: #{$space-xxl};

  // Legacy
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-error: #{$color-error};
  --color-warning: #{$color-warning};
  --color-success: #{$color-success};
  --color-text-main: #{$color-text-main};
  --gutter-lg: #{$space-lg};
}
