:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

@each $name, $color in $colors {
  .#{$name} {
    color: #{$color};
  }

  .#{$name}--hover:hover {
    color: #{$color};
  }

  .background-#{$name} {
    background-color: #{$color};
  }

  .background-#{$name}--hover:hover {
    background-color: #{$color};
  }

  .border-#{$name} {
    border: 1px solid #{$color};
  }

  .border-#{$name}--hover:hover {
    border: 1px solid #{$color};
  }
}
