@import "colors", "typography", "variables", "common";

@import "color-utilities";

@import "~react-vis/dist/style";

@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

$threshold: 55%;

@function contrast-color($color, $dark, $light) {
  @return if(lightness($color) < $threshold, $light, $dark);
}

html,
body {
  height: 100%;

  #mount {
    height: 100%;
  }
}

@import "components/avatar", "components/banners", "components/dialog", "components/links", "components/flex",
  "components/nav", "components/tabs", "components/page", "components/typography",
  "components/utility", "components/input", "components/menu", "components/button",
  "components/chip", "components/table", "components/tooltips.scss", "components/dnd",
  "components/error", "components/header", "components/container", "components/callout",
  "components/progress-card", "components/footer", "components/tip-box", "components/well",
  "components/wysiwyg-editor", "components/stepper", "components/lists", "components/due-date",
  "components/icon.scss", "components/beacon";

@import "components/inputs/description-checkbox", "components/inputs/radio-freetext",
  "components/inputs/freetext-question", "components/image_stepper";

@import "widgets/user-action-row", "widgets/action-row", "widgets/collapse-card",
  "widgets/request-panel", "widgets/stats-panel", "widgets/tile-table", "widgets/toolbar",
  "widgets/data-subject-panel", "widgets/workflow", "widgets/service-selections",
  "widgets/service-label", "widgets/progress", "widgets/labelled-progress", "widgets/mailbox",
  "widgets/empty-state", "widgets/privacy-center", "widgets/user-menu", "widgets/omnibar",
  "widgets/request-handling", "widgets/compliance-settings", "widgets/data-inventory",
  "widgets/get-compliant/consumer-groups", "widgets/get-compliant/help", "widgets/action-tile",
  "widgets/get-compliant/vendors", "widgets/get-compliant/mapping-progress",
  "widgets/get-compliant/privacy-requests", "widgets/get-compliant/survey",
  "widgets/get-compliant/compliance-checklist", "widgets/get-compliant/privacy-notices",
  "widgets/get-compliant/settings", "widgets/get-compliant/data-collection", "widgets/request-table",
  "widgets/request-step", "widgets/settings", "widgets/get-compliant/unmapped-vendors",
  "widgets/data-sharing", "widgets/map-fields", "widgets/website-audit";
