@import "colors", "typography", "variables", "common";
@import "color-utilities";

html,
body {
  height: 100%;
  font-family: Roboto;
  font-size: map-get($font-sizes, 't2');
}

.logo {
  width: 2in;
  height: auto;
}

code {
  font-family: 'Roboto Mono';
  color: $color-neutral-600;
  letter-spacing: 0.5px;
}

.page_header {
  margin-top: 0.5in;
  margin-bottom: 0.5in;

  &__title {
    margin-bottom: 0.125in;
  }

  &__subtitle {
    margin: 0;
    color: $color-neutral-600;
  }
}

@import "./print/consumer_report"
