<#import "../macros/custom-text-macro.ftlh" as custom>

<p>Hi ${(firstName)!"there"},</p>

<p>We have opted you out of any sale of information. <#if requestEmail??>If you wish to opt back in, please email us at ${requestEmail}.</#if></p>

<p>If you submitted a request via email or telephone and would like to opt-out of browser-based sharing while visiting our website, visit ${optOutLabel} My Personal Information <a href="${optOutUrl}">${optOutUrl}</a>.</p>

<@custom.text text=customText/>

<p>
  Thank you,
  <br/>
  <br/>
    <#noautoesc>
  ${signature}
  </#noautoesc>
</p>
