<#import "../macros/custom-text-macro.ftlh" as custom>

<p>Hi ${(firstName)!"there"},</p>

<p>
  Your ${type} has been closed because you did not click the
  verification link that was sent to you within ${dueDateDays} days of submitting your
  request.
</p>

<#if requestFormUrl??>
  <p>
    To submit another ${type}, please visit
    <a href="${requestFormUrl}">${requestFormUrl}</a><#if requestEmail??> or email us at ${requestEmail}</#if>.
  </p>
</#if>

<@custom.text text=customText/>

<p>
  Thank you,
  <br/>
  <br/>
    <#noautoesc>
  ${signature}
  </#noautoesc>
</p>
