.action-tile {
  &--row {
    border: 1px solid $color-neutral-200;
  }

  &--selected {
    border-color: $color-primary-200;
    background-color: $color-primary-100;
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      border-color: $color-primary-200;
      background-color: $color-primary-100;
    }
  }
}
