.action-row-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.action-row {
  @extend .flex-center-vertical;
  @extend .py-sm;
  box-sizing: border-box;

  height: $space-xxl;

  &.action-row__clickable {
    cursor: pointer;
    &:hover {
      background-color: $color-primary-100;
    }
  }

  .action-row--icon {
    @extend .p-xxs;
    box-sizing: border-box;
    display: flex;
    width: 32px;
    min-width: 32px;
    img {
      width: 100%;
      max-height: 24px;
      max-width: 24px;
    }
  }

  .action-row--label {
    @extend .text-t3;
    @extend .text-weight-medium;
    @extend .ml-xs;

    flex-grow: 1;
  }
}

.action-row,
.action-row-header {
  &.action-row__top-border {
    border-top: 1px solid $color-neutral-200;
  }

  &.action-row__bottom-border {
    border-bottom: 1px solid $color-neutral-200;
  }
  
  .action-row--status {
    display: flex;
    width: $space-128;

    &.action-row--status__wide {
      width: $space-192;
    }
  }
}
