.compliance-settings-tab.tab-panel {
  min-height: 0 !important;
}

.data-subject-type-settings {
  .header-row {
    @extend .text-body-1-bold;
    @extend .flex-row;
    border-bottom: 1px solid $bluegray-lightest;
    padding-bottom: $space-sm;
  }

  .data-subject-type-row {
    @extend .text-body-1;
    @extend .flex-row;
    height: 42px;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    border-bottom: 1px solid $bluegray-lightest;
    &:last-child {
      border-bottom: 0px;
    }
    & > .data-subject-type-col__name {
      padding-top: $space-sm;
    }
  }
  // Consumer Groups Enabled Columns
  .data-subject-type-col__name {
    @extend .flex-col;
    width: 70%;
  }
  .data-subject-type-col__enabled {
    @extend .flex-col;
    width: 15%;
    text-align: center;
  }
  .data-subject-type-col__delete {
    @extend .flex-col;
    width: 8%;
    text-align: center;
  }
  .data-subject-type-col__edit {
    @extend .flex-col;
    width: 7%;
    text-align: right;
  }
}

.data-subject-type-settings-content .add-button {
  text-align: right;
}
