.data-sharing--container {
  margin-top: $space-xl;
  max-width: $get-compliant-max-table-width;

  .data-sharing--section-header {
    @extend .text-t1;
    @extend .text-spacing-spread;
    @extend .mb-md;
    text-transform: uppercase;
  }

  .data-sharing--vendor-row,
  .data-sharing--row {
    @extend .flex-center-vertical;
    @extend .py-sm;
    border-top: 1px solid $color-neutral-200;
    box-sizing: border-box;
    cursor: pointer;
    height: $space-xxl;

    &:hover {
      background-color: $color-primary-100;
    }
  }

  .border-above {
    border-top: 1px solid $color-neutral-200;
    padding-top: $space-md;
  }

  .data-sharing--vendor-logo {
    @extend .p-xxs;
    box-sizing: border-box;
    display: flex;
    width: 32px;
    min-width: 32px;
    img {
      width: 100%;
      max-height: 24px;
      max-width: 24px;
    }
  }

  .data-sharing--vendor-name,
  .data-sharing--name {
    @extend .text-t3;
    @extend .text-weight-medium;
    @extend .ml-xs;
  }

  .data-sharing--vendor-progress,
  .data-sharing--progress {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .data-sharing--no-values {
    color: $color-neutral-900;
    font-style: italic;
    border-top: 1px solid $color-neutral-200;
    padding: $space-md 0;
    font-size: map-get($font-sizes, "t3");
  }

  .data-sharing--menu-action {
    padding-right: $space-xs;

    button {
      min-width: unset;
      &:hover {
        background-color: $background-white;
      }
    }

    .menu-content {
      z-index: 100;
    }
  }
}
