.personal-information-settings {
  .header-row {
    @extend .text-body-1-bold;
    @extend .flex-row;
    border-bottom: 1px solid $bluegray-lightest;
    padding-bottom: $space-sm;
  }

  .service-type-container {
    margin-top: $space-xl;

    .service-type-header {
      margin-top: 0px;
      margin-bottom: $space-xl;
    }

    .services-empty-state {
      text-align: center;
      padding-bottom: $space-xl;
    }
  }

  .service-row, .consumer-group-row {
    &:first-child {
      padding-top: 0;
    }
  }

  .consumer-group-row, .service-row {
    @extend .text-body-1;
    @extend .flex-row;
    height: 42px;
    align-items: center;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    border-bottom: 1px solid $bluegray-lightest;
    &:last-child {
      border-bottom: 0px;
    }
    & > .data-subject-type-col__name,
    & > .consumer-group-col__name,
    & > .data-subject-type-parent__name {
      display: block;
    }
  }
  // Services Shared Columns
  .service-col__logo {
    @extend .flex-col;
    margin-right: $space-sm;
    flex-direction: column;
    width: 30px;
    .service-logo {
      display: flex;
      align-items: center;
      height: 100%;
      img {
        width: 25px;
        max-height: 40px;
      }
    }
  }
  .service-col__name {
    @extend .flex-col;
    width: calc(70% - 50px);
  }
  .service-col__status {
    @extend .flex-col;
    width: 20%;
    text-align: right;
  }
  .service-col__edit {
    @extend .flex-col;
    width: 10%;
    text-align: right;
  }
  // Consumer Groups Collected Columns
  .consumer-group-col__name {
    @extend .flex-col;
    width: 70%;
  }
  .consumer-group-col__status {
    @extend .flex-col;
    width: 20%;
    text-align: right;
  }
  .consumer-group-col__edit {
    @extend .flex-col;
    align-items: center;
    width: 10%;
    text-align: right;
  }
}

.data-subject-type-settings-content .add-button {
  text-align: right;
}

.personal-information-checkbox {
  &.not-collected {
    .MuiFormControlLabel-label {
      color: $bluegray;
    }
  }
  &.newly-collected {
    .MuiFormControlLabel-label {
      color: $green;
    }
  }
}

.personal-information-category-group {
  font-weight: 500;
}

.personal-information-options-row {
  margin-left: -9px;
  flex-wrap: wrap;
}

.personal-information-options-header {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 99;
  border-bottom: 1px solid #e0e0e0;

  .service-header--service {
    display: flex;
    align-items: center;
    height: 100%;
    img.service-header--logo {
      width: 24px;
      max-height: 24px;
      margin-right: $space-xs;
    }
  }

  .service-header--buttons {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    .service-header--buttons-block {
      display: block;
    }
  }
}

.personal-information-category-section {
  margin-bottom: $space-lg;
  &:last-child {
    margin-bottom: 0px;
  }
}

.personal-information-options-section {
  padding: $space-xl $space-xl;
  border-bottom: 1px solid #e0e0e0;
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }

  .toggle-buttons-container {
    display: block;
    text-align: right;
  }

  .toggle-button {
    font-size: 12px !important;
  }
}

.personal-information-options-header, .personal-information-options-section {
  .options-header--name {
    width: 70%;
  }
  .options-header--actions {
    width: 30%;
  }
}

.personal-information-options--custom-source-row {
  margin-left: -9px;
  @extend .flex-row;
  align-items: center;
}

.personal-information-options--add-custom-source {
  @extend .flex-row;
  align-items: center;
  form {
    display: flex;
    align-items: center;
  }
  .add-custom-source-name-input {
    width: 400px;
  }
}

.personal-information-snapshot {
  min-width: 1090px;

  .consumer-group-snapshot-section {
    @extend .flex-row;
    @extend .p-xl;
    position: relative;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    &:first-child {
      border-top: 0;
      margin-top: 0;
    }

    .consumer-group-snapshot--name {
      @extend .flex-col;
      flex: 1;
    }
    .consumer-group-snapshot--collected {
      @extend .flex-col;
      flex: 2;
      .snapshot-collected-content {
        display: block;
      }
      .snapshot-collected-category, .snapshot-collected-source, .snapshot-collected-purpose {
        margin-top: $space-sm;
        padding-left: $space-xs;
      }
    }
    .consumer-group-snapshot--disclosed {
      @extend .flex-col;
      flex: 3;

      // override flex-col margin-bottom
      div {
        margin-bottom: 0px;
      }
      .snapshot-disclosed--category {
        @extend .flex-row;
        width: 100%;
        padding-bottom: $space-sm;
        margin-top: $space-sm;
        border-bottom: 1px solid $bluegray-lightest;
        &:first-child {
          margin-top: 50px;
        }
        &:last-child {
          border-bottom: 0px;
        }
      }
      .snapshot-disclosed--empty {
        margin-top: 50px;
      }
    }
    .consumer-group-snapshot--sold {
      display: flex;
      flex-direction: column;
      flex: 2;
      .snapshot-sold-category {
        margin-top: $space-sm;
        padding-left: $space-xs;
      }
    }

    &.snapshot-show-more {
      max-height: 450px;
    }

    .snapshot-show-more-fade-out {
      position: absolute;
      padding-bottom: $space-xl;
      height: 200px;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 50%,
        #ffffff 100%
      );
    }
    .snapshot-show-button {
      @extend .flex-row;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
