.empty-state {
  text-align: center;

  .MuiPaper-root {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }

  .empty-state-image {
    width: 65px;
  }

  .empty-state-message {
    padding-top: $space-md;
    @extend .text-body-1-bold;
  }
}

.empty-state {
  max-width: 640px;
  text-align: unset;
}

.empty-state-message {
  padding-top: $space-xl;
}
