.labelled_progress {
  display: flex;
  flex-wrap: no-wrap;
  margin-top: $space-mdlg;
  margin-bottom: $space-xl;
  color: $color-neutral-600;

  .item {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: map-get($font-sizes, "t1");

    div.progress_indicator {
      width: 100%;
      height: $space-xxs;
      border: 1px solid $color-primary-600;
    }

    &.selected {
      color: $color-neutral-900;
      font-weight: map-get($font-weights, "bold");
      div.progress_indicator {
        background-color: $color-primary-600;
      }
    }
  }
}
