.omnibar {
  #omnibar__search {
    border: none;
    color: #121212;
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: 42px;

    &::placeholder {
      @extend .text-light;
      font-size: 24px;
      letter-spacing: 0.5px;
      line-height: 28px;
    }
  }

  .omnibar__header {
    @extend .my-md;
    @extend .mr-md;
    @extend .ml-md;
    // TODO: @extend   px-md once POLARIS-166 is merged;
  }

  .MuiListItem-root.Mui-selected,
  .MuiListItem-root:hover,
  .MuiListItem-root.Mui-selected:hover {
    background-color: $gray-lightest;
  }

  .MuiListItem-root {
    border-radius: 3px;
    margin-top: $space-sm;

    &:first-child {
      margin-top: 0;
    }
  }

  .MuiListItemText-multiline {
    margin-top: 4px; // this value matches other styling from Material UI
    margin-bottom: 4px;
  }

  .omnibar__results {
    @extend .mb-md;
    @extend .mt-md;
    margin-left: $space-sm;
    margin-right: $space-sm;
  }

  .omnisearch__no-results {
    @extend .mb-lg;
    @extend .mt-lg;
    color: black;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: center;
  }

  .omnibar__type-label {
    @extend .text-light;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.15px;
    line-height: 14px;
  }

  .omnibar__item-label {
    color: black;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 0.15px;
    line-height: 23px;
  }

  .omnibar__active-item {
    @extend .omnibar__type-label;
    align-items: center;
    display: flex;

    .MuiSvgIcon-root {
      height: 10px;
      margin-left: $space-sm;
      width: 12px;
    }
  }
}

body .MuiAvatar-colorDefault {
  color: $color-default-org-icon;
  background-color: transparent;
}
