.privacy-center-paper {
  min-width: 1080px;
}

.privacy-center-listing {
  .flex-row {
    flex-wrap: wrap;
    .privacy-center-listing-box {
      width: $privacy-center-listing-box-width;
    }
  }
}

.privacy-center-default-domain {
  @extend .text-body-1-bold;
  padding-top: $ul-left-padding;
  margin-left: $space-sm;
}

.privacy-center-default-subdomain {
  display: flex;
}

.privacy-center--settings-text .input--settings-text {
  width: $settings-text-input-width;
  min-width: $settings-text-input-width;
}

.privacy-center--settings-logo {
  align-items: center;
  .privacy-center--settings-logo-input {
    width: $settings-text-input-width;
  }
}

.optional-policy-document--editor .CodeMirror .CodeMirror-scroll {
  min-height: $optional-policy-document-content-height !important;
}

.optional-policy-document--empty-state {
  display: flex;
  width: 100%;
  height: $optional-policy-document-empty-height;
  margin: auto;
  border-radius: 3px;
  border: 1px dashed black;
  p {
    @extend .text-center;
    margin: auto;
  }
}

.optional-policy-document--submit {
  button {
    width: 100%;
  }
}

.add-to-menu-switch--label {
  white-space: nowrap;
  padding-top: 10px;
  align-items: flex-start !important;
  .add-to-menu-switch {
    margin-left: $space-md;
  }
  .MuiFormControlLabel-label {
    padding-top: 7px;
  }
}
