.MuiLinearProgress-root.progress {
  height: $progress-bar-height;
  @extend .box-rounded;
  background-color: $background-light;

  box-shadow: inset 0px 1px 4px #e5e9f2;

  &.progress-primary {
    .MuiLinearProgress-barColorPrimary {
      background: linear-gradient(
        180deg,
        lighten($color-primary, 10%) 0%,
        $color-primary 100%
      );
      box-shadow: 0px 1px 4px #e5e9f2;
      @extend .box-rounded;
    }
  }

  &.progress-warning {
    .MuiLinearProgress-barColorPrimary {
      background: linear-gradient(
        180deg,
        lighten($color-warning, 10%) 0%,
        $color-warning 100%
      );
      box-shadow: 0px 1px 4px #e5e9f2;
      @extend .box-rounded;
    }
  }

  &.progress-error {
    .MuiLinearProgress-barColorPrimary {
      background: linear-gradient(
        180deg,
        lighten($color-error, 10%) 0%,
        $color-error 100%
      );
      box-shadow: 0px 1px 4px #e5e9f2;
      @extend .box-rounded;
    }
  }
}
