.large-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  min-height: 400px;

  &.large-panel--row {
    flex-direction: row;
  }

  dl {
    margin-top: 0;
    margin-bottom: 0;
  }

  .large-panel__sidebar {
    display: flex;
    flex-direction: column;
    min-width: $request-panel-progress-width;
    border-right: 1px solid $color-paper-divider;

    padding: $space-md $space-md;
  }

  .large-panel__content {
    padding: $space-md $space-md;
    flex: 1;

    &.large-panel__content--no-padding {
      padding: 0;
    }
  }

  .large-panel__header {
    padding: $space-md;
    border-bottom: 1px solid $color-paper-divider;

    h1 {
      margin-top: 0;
    }
  }
}

.request-panel-progress-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .request-panel__progress {
    z-index: 0;
    padding: $space-md 0;
    flex: 0.25;
    min-width: $request-panel-progress-width;

    &.bordered {
      border-right: 1px solid $color-paper-divider;
    }
  }

  .request-panel__column {
    display: flex;
    flex-direction: column;

    & > * {
      padding: $space-md $space-md;
      border-bottom: 1px solid $color-paper-divider;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  border-bottom: 1px solid $color-paper-divider;
}

.request-panel {
  .request-panel__main {
    z-index: 1;
    padding: 0;
    flex: 1;
  }
  .request-panel__header {
    padding: $space-md;
    border-bottom: 1px solid $color-paper-divider;

    h1 {
      margin-top: 0;
    }
  }

  &.request-panel--padded {
    .request-panel__progress {
      padding: #{$space-lg + $space-md} 0;
    }

    .request-panel__main {
      padding: $space-lg 0;
    }
  }

  .request-panel__column {
    & > * {
      padding: $space-md $space-md;
      border-bottom: 1px solid $color-paper-divider;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.paper-divider-right {
  border-right: 1px solid $color-paper-divider;
}

.paper-divider-left {
  border-left: 1px solid $color-paper-divider;
}

.paper-divider-top {
  border-top: 1px solid $color-paper-divider;
}

.paper-divider-bottom {
  border-bottom: 1px solid $color-paper-divider;
}

.show-more {
  max-height: 380px;
  position: relative;
}

.show-more-fade-out {
  position: absolute;
  height: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
}

.new-request-form {
  max-width: $new-request-form-max-width
}
