.vendor-template-box {
  position: relative;
  border: 1px solid $color-neutral-300;
  border-radius: $border-radius;
  padding: $space-sm;
}

.vendor-template__copy {
  position: absolute;
  bottom: $space-sm;
  right: $space-sm;
}

.request-details-info-card {
  margin-top: $space-mdlg;
  padding-bottom: $space-md;
  border-bottom: 1px solid $color-neutral-300;
  position: relative;
  .request-id {
    color: $color-neutral-600;
    font-size: map-get($font-sizes, "t1");
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .request-email {
    font-size: map-get($font-sizes, "t5");
    font-weight: map-get($font-weights, "bold");
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .request-name {
    font-size: map-get($font-sizes, "t3");
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .request-date-fields {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: map-get($font-sizes, "t3");
    display: flex;
    flex-direction: row;

    button {
      width: $space-lg;
      height: $space-lg;
      background-color: #fff;
      vertical-align: top;
      margin-left: $space-xs;
      padding: $space-xxs;
      min-width: unset;
      border: 1px solid $color-neutral-200;
      border-radius: $border-radius;
      svg {
        height: $space-md;
        width: $space-md;
      }
    }
  }
  .request-edit {
    position: absolute;
    right: 0px;
  }
}
.regulation-selector {
  display: flex;
  .regulation-selector-label {
    @extend .flex-col;
    min-width: 300px; // todo - variables
    margin-right: $space-xl;
  }
  .regulation-selector-values {
    @extend .flex-col;
    min-width: 600px; // todo-variables
  }
}

.request-detail-tabs {
  &.hide-first {
    button:first-child {
      display: none;
    }
  }
}

.regulation-selector-values .regulation-selector-card {
  @extend .flex-row;
  width: 100%;
  margin-bottom: $space-sm !important  ;
  display: flex;

  .regulation-selector-card--link {
    width: 100%;
    display: flex;
    color: $color-text-main;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    padding-left: $space-md;
    padding-right: $space-md;
    &:hover {
      color: $color-primary;
    }
    .regulation-selector-card--label {
      flex: "1";
    }
    .regulation-selector-card--icon {
      padding-top: $space-xs;
      margin-left: auto;
    }
  }
}

.processing-instructions-settings__edit {
  @extend .p-xl;
  .dimension-label {
    font-size: 12px;
    color: $bluegray;
    margin-bottom: 0;
  }
  .dimension-value {
    @extend .text-h1;
  }
}

.processing-instructions-settings__edit .min-content-grid {
  height: min-content;
}

.processing-instructions-settings__edit {
  img {
    width: 24px;
    vertical-align: middle;
  }
  // Make the switches 24px tall to match the height of the icon images
  .enabled-service-switches {
    .MuiSwitch-root {
      height: 24px;
      padding-top: 5px;
      padding-bottom: 5px;
      .MuiSwitch-switchBase {
        padding: 2px;
        margin-left: 7px;
      }
    }
  }
}

.processing-instructions-settings__grid {
  .request-type-header,
  .instructions-row {
    border-bottom: 1px solid $color-paper-divider;
  }
  .request-type {
    @extend .text-center;
  }
  .subject-type {
    padding-top: 12px;
  }
}

.processing-instructions-settings__grid .create-icon {
  &.create-icon__enabled {
    color: $color-primary;
  }
  &.create-icon__disabled {
    color: $color-disabled;
  }
}

.processing-instructions-settings__grid .flex-container {
  display: flex;

  .flex-col {
    flex-shrink: 0;
  }

  .flex-row {
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: 1px solid $color-paper-divider;
  }

  .subject-types-col {
    white-space: nowrap;
    min-width: 100px;
    max-width: 250px;
    .flex-row {
      width: 100%;
      padding-right: 50px;
      padding-left: $space-sm;
      padding-top: $space-md;
      height: 60px - $space-md !important;
      .overflow-tip {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .instruction-col {
    width: 160px + $space-xl;
    .flex-row {
      padding-top: $space-xs;
      padding-right: $space-xl;
      height: 60px - $space-xs !important;
    }
  }
}
