.request-filter {
  width: $space-256;
}
.request-table {
  .MuiTableHead-root {
    .MuiTableCell-root.MuiTableCell-head{
      vertical-align: top;
    }
  }
  tbody {
    .request-email-col {
      width: 384px;
      max-width: 384px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.request-step-header {
  display: flex;
  flex-direction: row;

  .request-step-header__li {
    padding: $space-md;
    border-radius: 50%;
    background-color: $color-primary-100;
    color: $color-primary-700;
  }
}

.MuiTableContainer-root {
  tr.MuiTableRow-root.MuiTableRow-hover {
    &:hover {
      background-color: $color-primary-100;
    }
    .MuiTableCell-root {
      cursor: pointer;
    }
  }
}
