.request-step-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .request-step-header__li {
    padding: 0;
    border-radius: 50%;
    background-color: $color-primary-100;
    color: $color-primary-700;
    line-height: 0;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
