.service-selections {
  width: 100%;
  margin-bottom: $space-md;

  .service-row {
    .service-icon-cell {
      width: $service-icon-small;
      padding-right: $space-md;
    }
    .service-icon {
      width: $service-icon-small;
      vertical-align: middle;

      &.service-icon--action {
        cursor: pointer;
      }
    }

    &.service-row--instructions:first-child {
      td {
        padding-top: 6px;
      }
    }

    &.service-row--instructions {
      td {
        padding-top: 12px;
      }
    }

    td {
      padding-bottom: $space-md;
    }

    &.system-row--not-needed {
      img {
        filter: grayscale(100%);
      }
    }

    &.system-row--spacer {
      td {
        padding-top: $space-md;
      }
    }
  }
}
