.service-catalog-panel {
  min-width: $service-catalog-panel-min-width;
}

.service-details-header {
  padding: $space-xl;
  border-bottom: 1px solid $color-paper-divider;
  .service-details-header--logo {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
}

.service-tile {
  display: flex;
  min-width: $service-tile-width;
  height: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .already-added {
    color: $color-text-light !important;
  }

  .service-tile--logo {
    display: flex;
    align-items: center;
    width: 64px;
    height: 104px;

    img {
      width: 100%;
    }
  }
}

.service-label {
  padding-right: $space-sm;
  a {
    align-items: center;
    color: $color-primary;
    display: flex;

    &:hover {
      text-decoration: underline;
    }
  }
}

.service-label__service-icon {
  margin-right: $space-sm;
  max-width: 50px;
  width: $service-icon-small;
}

.service-label__service-name {
  padding-right: $space-sm;
}

.service-label__service-category {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-catalog-panel .service-icon {
  margin-right: $space-sm;
  width: $service-icon-small;
  vertical-align: middle;
}

.service-settings {
  .classification-options .MuiRadio-root {
    padding-left: 0px;
    .MuiTouchRipple-root {
      left: -9px;
    }
  }
  .classification-option .MuiFormControlLabel-label {
    @extend .text-body-2;
    @extend .pl-md;
    font-weight: 500;
  }

  .ccpa-selling-sharing-check.MuiCheckbox-root {
    margin-left: -9px;
  }
}

.service-settings--category {
  border-top: 1px solid $color-paper-divider;
  .service-settings--catgory-autocomplete {
    width: 600px;
  }
}

.service-in-progress-warning {
  color: $color-warning;
}

.ccpa-is-selling-label {
  display: flex;
  align-items: center;
}

.ccpa-is-selling-help-icon {
  font-size: 1.25rem !important;
}
