.org-settings {
  margin-top: $space-xl;
  .section-head {
    font-weight: map-get($font-weights, "bold");
    font-size: map-get($font-sizes, "t3");
    margin-bottom: $space-sm;
    &:not(:first-child) {
      margin-top: $space-xxl;
    }
  }

  .org-name-input {
    width: $space-640;
  }
}
.user-settings {
  .user-name-col {
    font-weight: map-get($font-weights, "bold");
  }
  .user-email-col {
    color: $color-neutral-700;
  }
}

.email-settings {
  margin-top: $space-xl;
  .section-head {
    font-weight: map-get($font-weights, "bold");
    font-size: map-get($font-sizes, "t3");
    margin-bottom: $space-sm;
    &:not(:first-child) {
      margin-top: $space-xxl;
    }

    .input-label--help-text {
      font-weight: map-get($font-weights, "medium");
      padding-bottom: 0px;
    }
    .input-label--light {
      font-weight: map-get($font-weights, "medium");
      color: $color-neutral-600;
    }
  }

  svg.email-status-ok {
    margin-left: $space-mdlg;
    height: map-get($font-sizes, "t3");
    color: $color-green-500;
  }
  .signature-input {
    width: $space-640;
  }

  .image-control {
    display: flex;
    flex-direction: row;
    img {
      min-width: $space-128;
      max-width: $space-512;
      max-height: $space-192;
      margin-right: $space-mdlg;
    }
    svg {
      cursor: pointer;
    }
  }
  .optional {
    font-weight: map-get($font-weights, "medium");
    color: $color-neutral-600;
  }
}

svg.email-status-ok {
	@include typography("t3", "regular");
	color: $color-green-500;
}

.settings {
	&--container {
		background-color: $color-neutral-000;
		border-width: 1px;
		border-color: $color-neutral-200;
		border-style: solid;
		border-radius: 5px;
	}
}

.privacy-center-settings {
  margin-top: $space-xl;
  .section-head {
    font-weight: map-get($font-weights, "bold");
    font-size: map-get($font-sizes, "t3");
    margin-bottom: $space-sm;
    &:not(:first-child) {
      margin-top: $space-xxl;
    }
    .input-label--help-text {
      font-weight: map-get($font-weights, "medium");
      padding-bottom: 0px;
    }
    .input-label--light {
      font-weight: map-get($font-weights, "medium");
      color: $color-neutral-600;
    }
  }

  .link-logo-url {
    margin-bottom: 0px;
    width: $space-512;
  }

  .image-control {
    display: flex;
    flex-direction: row;
    svg {
      cursor: pointer;
    }
    img {
      margin-right: $space-lg;
    }
    &.favicon {
      img {
        max-width: $avatar-size-md;
        max-height: $avatar-size-md;
      }
    }
    &.website {
      img {
        min-width: $space-128;
        max-width: 100%;
        margin-right: $space-lg;
      }
    }
  }

  .url-section {
    border-top: 1px solid #d1ced9;
    margin-top: $space-xl;
    padding-top: $space-xl;
    .section-head {
      font-size: map-get($font-sizes, "t5");
    }
    a {
      margin-bottom: $space-sm;
    }
  }
  .optional {
    font-weight: map-get($font-weights, "medium");
    color: $color-neutral-600;
  }
}

.image-control {
  display: flex;
  flex-direction: row;
  img {
    min-width: $space-128;
    max-width: $space-512;
    max-height: $space-192;
    margin-right: $space-mdlg;
    width: 100%;
  }
  &--small {
    img {
      min-width: $space-lg;
      max-width: $space-xxl;
      max-height: $space-xxl;
    }
  }
  svg {
    cursor: pointer;
  }
}
