.stats-panel {
  width: 100%;

  .stats-panel__content {
    padding: $space-lg $space-md;
    display: flex;
    flex-direction: row;

    .stats-panel__stat {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      border-right: 1px solid $color-paper-divider;

      &:last-child {
        border-right: none;
      }

      h4 {
        @extend .text-h1;
        margin: 0 0 $space-md 0;
      }

      p {
        margin: 0;
        @extend .text-light;
      }
    }
  }
}
