@use 'sass:math';

.tile-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 $space-md;

  &__th {
    @extend .text-light;
    @extend .text-t1;

    font-weight: normal;
    text-transform: uppercase;
    text-align: left;

    padding: 0 math.div($space-md, 2);

    &:first-child {
      padding-left: $space-md;
    }

    &:last-child {
      padding-right: $space-md;
    }
  }

  &__tr {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-clip: border-box;

    > td {
      padding: $space-md math.div($space-md, 2);
      background-color: $background-white;
      border-top: 1px solid $color-neutral-200;
      border-bottom: 1px solid $color-neutral-200;

      &:first-child {
        border-left: 1px solid $color-neutral-200;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        padding-left: $space-md;
      }

      &:last-child {
        border-right: 1px solid $color-neutral-200;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding-right: $space-md;
      }
    }

    &:hover {
      > td {
        border-color: $color-neutral-300;
      }
    }
  }

  &--filled {
    .tile-table__tr {
      box-shadow: none;

      > td {
        background-color: $color-neutral-100;
        border-color: $color-neutral-100;
        color: $color-neutral-900;
      }
    }
  }
}
