.user-action-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  border-top: 1px solid $color-neutral-300;

  &__action {
    flex: 1;
    margin: $space-mdlg 0px;
  }

  &__header {
    position: relative;
    font-size: map-get($font-sizes, "t4");
    font-weight: map-get($font-weights, "bold");
  }
  &__date {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  &__identity {
    color: $color-neutral-600;
    font-size: map-get($font-sizes, "t2");
    font-weight: map-get($font-weights, "medium");
  }
  &__desc {
    margin-top: $space-xs;
  }
  &__message {
    margin-top: $space-xs;
    font-size: map-get($font-sizes, "t1");
    font-family: map-get($fonts, "mono");
  }
  &__declaration_signature {
    margin-top: $space-md;
  }
  &__declaration {
    color: $color-neutral-600;
    margin-left: 0;
    margin-top: $space-xs;
    font-size: map-get($font-sizes, "t1");
    font-family: map-get($fonts, "mono");
  }
}
