.user-menu {
  .MuiPaper-root {
    min-width: 250px;
  }

  .MuiList-padding {
    @extend .pb-md;
    padding-top: 0px;
  }

  .MuiListItem-gutters {
    @extend .pr-md;
    @extend .pl-md;
  }

  .MuiDivider-root {
    @extend .my-md;
  }

  .MuiListItemSecondaryAction-root {
    color: $color-primary;
  }

  .MuiListItemAvatar-root {
    @extend .mr-sm;
    min-width: 16px;
  }

  .user-menu__name {
    @extend .text-body-1;
    @extend .mr-md;
    @extend .ml-md;
    @extend .w-100;
    @extend .mb-sm;
    // TODO: @extend  pt-md and px-md once POLARIS-166 is merged;
    color: black;
    margin-top: $space-md;
    max-width: 210px;
    text-overflow: ellipsis;
  }

  .user-menu__organization_name {
    @extend .text-body-2;
    color: black;
    max-width: 125px;
    text-overflow: ellipsis;
  }

  .user-menu__organization_switch {
    @extend .text-body-2;
  }
}
