.website-audit {
    &__your-privacy-choices {
        color: $blue-privacy-icon;
    }

    &__your-privacy-choices-arrow {
        position: relative;
        top: 6px;
        left: 4px;
    }

    &__your-privacy-choices-icon {
        position: relative;
        top: 4px;
    }

    &__error-icon {
        color: $color-gold;
    }

    &__view-instructions {
        text-decoration: none;
    }

    &__launch-icon {
        position: relative;
        top: 6px;
    }
}
