.workflow__toc {
  position: relative;
  width: 300px;

  .workflow__progress-background {
    position: absolute;
    left: 2em;
    width: 11px;
    top: 10px;
    height: 350px;

    box-shadow: inset 0 1px 4px 0 #e5e9f2;
    background-color: #f3f6fe;
  }

  .workflow__progress-foreground {
    position: absolute;
    left: 2em;
    width: 11px;
    top: 10px;
    height: 110px;

    box-shadow: 0 1px 4px 0 #e5e9f2;
    background-image: linear-gradient(to top, #4072ee, #679cf6);
  }

  ol {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;

    li {
      padding-left: $space-sm;
      min-height: 70px;

      a {
        color: #212529;
      }

      .active {
        color: $color-workflow-active;
        font-weight: 500;
      }

      a.active {
        cursor: default;
      }

      a.disabled {
        pointer-events: none;
        cursor: default;
        color: $bluegray;
        opacity: 0.65;
      }

      &::before {
        content: "";
        width: 13px;
        height: 13px;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 #d2d6de;
        background-color: #ffffff;

        display: inline-block;
        position: absolute;
        left: 31px;

        transform: translateY(2px);
      }

      p::before {
        content: "";
        display: inline-block;

        box-shadow: 0 1px 4px 0 #e5e9f2;
        background-color: #b9c4d0;

        width: 5px;
        height: 5px;
        position: absolute;
        left: 35px;
        transform: translateY(6px);
        border-radius: 50%;
      }

      &.visited {
        p::before {
          background-image: linear-gradient(to top, #4072ee, #679cf6);
        }
      }

      &:last-child {
        margin-bottom: 0;
        min-height: 50px;
      }
    }
  }
}
