.data_request_entry {
  margin-bottom: 0.75in;
  page-break-inside: avoid;

  &__header {
    border-bottom: 1px solid $color-neutral-300;
  }

  &__request_date {
    font-weight: bold;
    color: $color-primary-500;
    margin: 0;
    font-size: map-get($font-sizes, 't1');
  }

  &__title {
    margin: 0.125in 0;
  }

  &__subtitle {
    margin: 0.125in 0;
    font-weight: normal;
  }

  &__body {
    padding-left: 0.5in;
  }

  &__event_title,
  &__event_details {
    margin: 0;
    padding: 0;
  }

  &__event_title {
    font-weight: bold;
  }

  &__event_details {
    margin-bottom: 0.25in;
  }
}
