body.error {
  box-sizing: border-box;
  background-color: #F3F5FA;
  color: #313132;
  font-family: "Avenier Next", "Roboto", sans-serif;
  font-size: 1rem
}

#error-container {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
}

#error-illustration {
  width: 85%;
  margin: 0 auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#error-message {
  transform: translateY(-35%);
}

h1.status {
  font-size: 80px;
  line-height: 94px;

  color: white;
  margin: .5em 0 0 0;

  font-weight: 500;
}

h2 {
  font-size: 32px;
  line-height: 37px;
  margin: .5em 0;
}

.btn {
  background: #327BF8;
  box-shadow: 0 1px 4px #E5E9F2;
  border-radius: 5px;
  padding: .5em 1em;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background: #5E94F0;
}

p {
  font-size: 18px;
  line-height: 21px;
}

.message-narrow {
  width: 30%;
}

@media only screen and (max-width: 1024px) {
  .message-narrow {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .message-narrow {
    width: 100%;
  }
}