<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>TrueVault Polaris</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="apple-touch-icon" href="/assets/images/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />

  <link
    th:href="${@environment.getProperty('ASSET_SERVER_URL') + '/assets/main.css?' + @environment.getProperty('SHA_VERSION')}"
    rel="stylesheet" />

  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Roboto:300,400,500,700,400italic,500italic,700italic,900black&display=swap"
    rel="stylesheet" />

  <script th:if="${@environment.getProperty('HOTJAR_ENABLED') == 'true'}" th:inline="javascript">
    /* Hotjar Tracking Code for https://polaris.truevault.com */
    /*[+
    let hjid = [(${@environment.getProperty('HOTJAR_ID') ?: 'undefined'})];
    !!hjid && (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid, hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    +]*/
  </script>
</head>

<body>
  <div id="mount"></div>

  <!-- Calendly link widget begin -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>

  <!-- Beacon -->
  <!-- prettier-ignore -->
  <script
    type="text/javascript">!function (e, t, n) {function a() {var e = t.getElementsByTagName("script")[0], n = t.createElement("script"); n.type = "text/javascript", n.async = !0, n.src = "https://beacon-v2.helpscout.net", e.parentNode.insertBefore(n, e)} if (e.Beacon = n = function (t, n, a) {e.Beacon.readyQueue.push({method: t, options: n, data: a})}, n.readyQueue = [], "complete" === t.readyState) return a(); e.attachEvent ? e.attachEvent("onload", a) : e.addEventListener("load", a, !1)}(window, document, window.Beacon || function () { });</script>
  <script type="text/javascript">
    window.Beacon("init", "[[${@environment.getProperty('BEACON_INIT_KEY')}]]");
    window.Beacon("config", {
      display: {
        style: "manual"
      }
    });
  </script>

  <script
    th:src="${@environment.getProperty('ASSET_SERVER_URL') + '/assets/main.js?' + @environment.getProperty('SHA_VERSION')}"></script>
</body>

</html>
