.privacy-notice-actions {
  @extend .p-xs;
  @extend .mt-sm;
  display: flex;
  background-color: $color-neutral-100;
  border-radius: 3px;

  .privacy-notice-actions--content {
    flex-grow: 1;
  }
  .privacy-notice-actions--action-container {
    margin-top: 3px;
    display: flex;
    align-items: flex-start;
  }
  .privacy-notice-actions--action {
    @extend .flex-center-vertical;
    @extend .text-t1;
    @extend .text-weight-medium;
    @extend .mr-mdlg;
    cursor: pointer;
    white-space: nowrap;

    .MuiSvgIcon-root {
      @extend .text-t2;
      @extend .mr-xxs;
      color: $color-neutral-500;
    }

    &:last-child {
      @extend .mr-0;
    }
  }
}

.compliance-checklist--copy-done {
  display: none;
}
.compliance-checklist--copy-copy {
  display: inherit;
}
.copy-done .compliance-checklist--copy-done {
  display: inherit;
}
.copy-done .compliance-checklist--copy-copy {
  display: none;
}


.compliance-checklist--privacy-settings {
  @extend .mt-xl;
  width: $space-768;

  h2 {
    @extend .text-t5;
    @extend .text-weight-medium;
    @extend .my-0;
  }

  h3 {
    @extend .text-t3;
    @extend .text-weight-medium;
    @extend .my-0;
    .optional {
      color: $color-neutral-600;
      font-weight: 400;
    }
  }

  p {
    @extend .my-0;
    @extend .text-t3;

    &.small {
      @extend .text-t1;
    }
  }

  .compliance-checklist--privacy-settings-button {
    @extend .text-t3;
    text-transform: lowercase;
    text-decoration: underline;
  }

  .compliance-checklist--checklist-item {
    @extend .mb-xl;
  }

  .compliance-checklist--upload-button {
    @extend .mt-md;
    width: $space-192;
  }

  .compliance-checklist--privacy-inbox {
    @extend .mb-xxxl;
    h2 {
      @extend .mb-md;
    }
  }

  .compliance-checklist--privacy-center {
    &-description {
      width: $space-640;
      @extend .mb-mdlg;
      @extend .text-t3;
    }
    .description-checkbox--subtitle {
      @extend .text-t1;
      color: $color-neutral-600;
    }
  }
}

.privacy-center {
  &__logo-link-url {
    font-size: map-get($font-sizes, "t3");
  }

  &__help-text {
    color: $color-neutral-600;
    font-size: map-get($font-sizes, "t1");
    font-weight: map-get($font-weights, "regular");
  }
}

.compliance-checklist--privacy-inbox-settings,
.compliance-checklist--privacy-center-settings {
  @extend .mt-lg;
  width: $get-compliant-text-width;
}

.compliance-checklist--privacy-settings-optional-text {
  color: $color-neutral-600;
}

.compliance-checklist--privacy-settings-checkbox {
  margin-left: -12px;
}

.compliance-checklist--privacy-settings--email {
  @extend .flex-center-vertical;
  @extend .my-sm;

  .email-status-ok {
    color: $color-green-500;
  }
  .email-status-error {
    color: $color-red-500;
  }
}

.compliance-checklist--privacy-settings-image {
  display: flex;
  flex-direction: row;
  @extend .mt-md;

  img {
    min-width: 128px;
    max-width: $space-512;
    max-height: 192px;
  }
  .compliance-checklist--image-close-icon {
    @extend .ml-lg;
    cursor: pointer;
  }
}

.compliance-checklist--custom-cname-btn {
  @extend .mt-xxl;
  width: $space-384;
  background-color: $color-neutral-200;
}

.compliance-checklist--privacy-settings-error {
  @extend .mb-md;
  @extend .p-xs;
  @extend .text-t3;
  background-color: $color-red-100;
  color: $color-red-900;
  margin-top: 16px;
}

.compliance-checklist--custom-cname-confirmation {
  @extend .mt-xxl;
  @extend .p-md;
  @extend .text-t3;
  background-color: $color-secondary-100;
  color: $color-secondary-900;
}

.compliance-checklist--privacy-settings-row {
  @extend .mt-lg;
  display: flex;
  flex-direction: row;

  &:first-child {
    @extend .mt-0;
  }

  .compliance-checklist--privacy-settings-content {
    .compliance-checklist--privacy-settings-content-text {
      @extend .flex-center-vertical;
      @extend .text-t3;
      margin-top: 5px;
    }
    .compliance-checklist--privacy-settings-content-help {
      @extend .text-t1;
    }
  }
}

.compliance-checklist--notices {
  @extend .mt-xxl;
  width: $get-compliant-text-width;
}

.compliance-checklist--notices-item {
  @extend .mt-lg;
  display: flex;
  flex-direction: row;

  &:first-child {
    @extend .mt-md;
  }

  .compliance-checklist--notices-item-content {
    width: 100%;
  }

  .compliance-checklist--notices-item-description {
    @extend .text-t3;
  }

  .compliance-checklist--notices-item-help-text {
    @extend .text-t1;
    @extend .mt-xxs;
  }



}







.get-compliant-complete--container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .get-compliant-complete--text-container {
    @extend .text-t3;
    width: $space-768;
  }
}

.get-compliant-complete--header {
  // CSS image paths are relative to the SASS root --- NOT THE CURRENT FILE!
  background-image: url("../static/assets/images/confetti-header.svg");
  background-repeat: repeat-x;
  box-sizing: border-box;
  height: 192px;
  width: 100%;
  padding-top: 76px;
  text-align: center;

  h1 {
    @extend .my-0;
    @extend .text-t8;
    @extend .text-weight-bold;
    margin-top: 76px;
    color: $color-primary-800;
  }
}


