$map-consumer-group-checkbox-width: 46px;
$map-consumer-group-source-remove-width: 32px;

// Consumer groups shared styles across Home and Data Collection
.consumer-groups--container,
.data-collection--container {
  @extend .mt-xxl;
  max-width: $get-compliant-max-table-width;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.consumer-groups--type-container,
.data-collection--group-type-container {
  &:first-child {
    @extend .mt-0;
  }
  margin-top: $space-xxxl;
}

.consumer-groups--type,
.data-collection--group-type {
  @extend .my-0;
  @extend .pb-md;
  @extend .text-t1;
  @extend .text-spacing-spread;
  color: $color-neutral-800;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid $color-neutral-300;
}

// Consumer Groups Home specific
.consumer-groups--consumer-group {
  @extend .text-t3;
  @extend .text-weight-medium;
  border-bottom: 1px solid $color-neutral-300;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.consumer-groups--consumer-group-name {
  @extend .pr-xs;
  width: calc(80% - #{$space-xs});
}

.consumer-groups--consumer-group-edit {
  width: 20%;
  text-align: right;
}

.consumer-groups--add-group {
  @extend .mt-md;
}

.consumer-groups--type-empty {
  @extend .mt-md;
  @extend .text-t3;
  font-weight: 400;
}

.add-edit-consumer-group-dialog {
  .MuiDialog-paper {
    width: $space-640;
  }

  .add-edit-consumer-group-dialog-title {
    .MuiTypography-root {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .dialog-title-text {
      display: flex;
      width: 80%;
    }
    .dialog-title-close {
      display: flex;
      width: 20%;
      justify-content: flex-end;

      .dialog-title-close-icon {
        cursor: pointer;
      }
    }
  }

  .add-edit-consumer-group-inputs--group-type-container {
    @extend .mt-lg;
    width: 100%;

    .add-edit-consumer-group-inputs--group-type {
      width: 100%;
    }
  }
}

// Map Consumer Group specific
.data-collection--consumer-group {
  @extend .text-t3;
  @extend .text-weight-medium;
}

.data-collection--consumer-group-name {
  @extend .mt-mdlg;
  width: 100%;
  &:first-child {
    @extend .mt-md;
  }
}

.data-collection--consumer-group-information-type {
  @extend .ml-lg;
  @extend .py-sm;
  @extend .flex-center-vertical;
  border-bottom: 1px solid $color-neutral-300;
  &:last-child {
    border-bottom: 0;
  }

  .data-collection--information-type {
    @extend .flex-center-vertical;
    @extend .text-link;
    cursor: pointer;
    box-sizing: border-box;
    width: calc(100% - #{$space-128});

    .MuiSvgIcon-root {
      @extend .text-t3;
    }
  }

  &.information-type-disabled {
    .data-collection--information-type {
      @extend .text-link-disabled;
      cursor: unset;
    }
  }
}

.data-collection--consumer-group-map {
  @extend .ml-lg;
  width: $space-128;
  text-align: right;
}

.map-consumer-group--category-group {
  @extend .mt-xl;
  &:first-child {
    @extend .mt-0;
  }
}

.map-consumer-group--categories-header {
  @extend .mt-0;
  @extend .mb-sm;
  @extend .text-weight-medium;
  @extend .text-t4;
}

.map-consumer-group--details-header {
  @extend .text-t5;
  @extend .text-weight-medium;
  @extend .mt-0;
  @extend .mb-mdlg;
}

.map-consumer-group--entity-row {
  display: flex;
}

.map-consumer-group--entity {
  padding-top: 9px;
  cursor: pointer;
  max-width: 100%;
}

.map-consumer-group--custom-source {
  max-width: calc(
    100% - #{$map-consumer-group-checkbox-width} - #{$map-consumer-group-source-remove-width}
  );
}

.map-consumer-group--entity-name {
  @extend .text-t3;
  color: $color-neutral-900;
}

.map-consumer-group--entity-description {
  @extend .text-t1;
  color: $color-neutral-600;
}

.map-consumer-group--tiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  width: 672px;
  justify-content: space-between;
}

.map-consumer-group--entity-tile {
  @extend .p-mdlg;
  border-radius: 5px;
  border: 1px solid $color-neutral-400;
  width: 320px;
  min-height: 160px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-bottom: 32px;
  cursor: pointer;

  &.map-consumer-group--entity-tile-selected {
    border: 1px solid $color-primary-600;
    background: $color-primary-100;

    .map-consumer-group--entity-tile-name {
      color: $color-primary-900;
    }

    .map-consumer-group--entity-tile-description {
      color: $color-primary-800;
    }
  }

  &.map-consumer-group--entity-tile-custom {
    cursor: default;
    .map-consumer-group--entity-tile-name {
      display: block;
    }
  }
}

.map-consumer-group--entity-tile-name {
  @extend .text-t3;
  @extend .text-weight-medium;
  color: $color-neutral-900;
  @extend .flex-center-vertical;
  flex-wrap: wrap;

  .map-consumer-group--custom-source-remove {
    @extend .ml-xs;
    float: right;
  }
}

.map-consumer-group--entity-tile-description {
  @extend .text-t1;
  @extend .mt-sm;
  color: $color-neutral-700;
}

.map-consumer-group--checkbox {
  margin-left: -12px;
}

.map-consumer-group--container {
  @extend .mt-xxl;
  display: flex;
  flex-direction: row;
  .map-consumer-group--details-container {
    box-sizing: border-box;
    width: calc(100% - 300px);
    padding-right: $space-xxl;
  }
  .map-consumer-group--collection-summary {
    @extend .p-mdlg;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    background-color: $color-neutral-000;
    border: 1px solid $color-neutral-100;
    border-radius: 5px;

    h3 {
      @extend .text-t3;
      @extend .text-weight-medium;
      @extend .m-0;
      color: $color-neutral-800;
    }

    h4 {
      @extend .text-t2;
      @extend .text-weight-medium;
      @extend .mb-0;
      @extend .mt-sm;
      @extend .text-weight-medium;
    }

    .map-consumer-group--collection-summary-categories {
      @extend .mt-xxs;
      @extend .text-t2;
      color: $color-neutral-700;
    }
  }
}

.map-consumer-group--sources {
  @extend .mb-mdlg;
}

.map-consumer-group--custom-source-input-container {
  @extend .mt-xl;

  h3 {
    @extend .text-t3;
    @extend .text-weight-medium;
    @extend .mt-0;
    @extend .mb-xs;
  }

  .map-consumer-group--custom-source-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .map-consumer-group--custom-source-input {
    width: 400px;
  }
}

.map-collection-summary-enter {
  opacity: 0.01;
}

.map-collection-summary-enter.map-collection-summary-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.map-collection-summary-exit {
  opacity: 1;
}

.map-collection-summary-exit.map-collection-summary-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-out;
}
