.data-collection--subheader {
  margin-top: $space-xl;
  width: $get-compliant-text-width;

  h2 {
    @extend .my-0;
    @extend .text-t6;
    @extend .text-weight-light;
  }
}

.data-collection--consumer-group-container {
  @extend .mt-xxl;

  &:first-child {
    @extend .mt-xl;
  }
}

.data-collection--consumer-group-shared-category,
.data-collection--consumer-group-collected-category {
  @extend .flex-center-vertical;
  @extend .mt-sm;
  @extend .text-t3;

  &:first-child {
    @extend .mt-0;
  }
}

.data-collection--consumer-group-shared-category {
  color: $color-neutral-600;
}

.data-collection--consumer-group-collected-category,
.data-collection--custom-source {
  .MuiSvgIcon-root {
    @extend .text-t2;
  }
}

.data-collection--add-category {
  @extend .mt-md;

  .data-collection--new-category-autocomplete {
    width: $space-384;
  }
}

.data-collection--custom-sources {
  width: $space-768;

  .data-collection--custom-sources-instruction {
    @extend .text-t3;
    @extend .text-weight-medium;
  }

  .data-collection--custom-sources-help-text {
    @extend .text-t1;
    color: $color-neutral-600;
  }

  .data-collection--custom-source {
    @extend .flex-center-vertical;
    @extend .mt-md;
    @extend .text-t3;
  }

  .data-collection--custom-source-form {
    @extend .flex-center-vertical;
    @extend .mt-md;

    .data-collection--custom-source-input {
      flex-grow: 1;
    }
  }
}

.data-collection--sources-selection-consumer-group {
  @extend .flex-center-vertical;
  @extend .text-t3;

  .MuiCheckbox-root {
    margin-left: -12px;
  }
}

.data-collection--purposes-consumer-group {
  margin-top: $space-xl;

  &.data-collection--purposes-consumer-group__hide-titles {
    margin-top: $space-mdlg;
  }

  h3 {
    @extend .text-t5;
    @extend .text-weight-medium;
    @extend .my-0;
  }

  .data-collection--purposes {
    @extend .mt-mdlg;
  }

  .data-collection--purpose-tile {
    @extend .py-xs;
    @extend .px-md;
    @extend .mt-md;
    border: 1px solid $color-neutral-500;
    border-radius: 5px;
    cursor: pointer;
    width: $get-compliant-text-width;

    .data-collection--purpose-name {
      @extend .text-t3;
      @extend .text-weight-medium;
    }

    .data-collection--purpose-description {
      @extend .text-t1;
      color: $color-neutral-700;
    }

    &:first-child {
      @extend .mt-0;
    }

    &.purpose-tile-selected {
      background-color: $color-primary-100;
      border-color: $color-primary-600;

      .data-collection--purpose-name {
        color: $color-primary-900;
      }

      .data-collection--purpose-description {
        color: $color-primary-800;
      }
    }
  }
}

.data-collection--employee-subheader {
  font-size: map-get($font-sizes, "t5");
  font-weight: map-get($font-weights, "medium");
}

.data-collection--employee-consumer-group-header {
  margin-top: $space-xs;
  margin-bottom: $space-xxxl;
  width: $get-compliant-text-width;

  h3 {
    @extend .my-0;
    @extend .text-t5;
    @extend .text-weight-medium;
  }

  // this should be shared through mapping with .map-vendor-data when reorged
  .callout {
    width: 50%;
    .callout--title {
      margin: 0px;
    }
    .callout--children {
      padding-top: 1em;
    }
  }
}

.data-collection--employee-container {
  display: flex;
  flex-direction: row;

  .data-collection--employee-categories {
    @extend .pr-lg;
    box-sizing: border-box;
    width: calc(100% - #{$space-384});
  }
  .data-collection--employee-tipbox {
    @extend .p-md;
    @extend .text-t1;
    @extend .mt-xl;
    box-sizing: border-box;
    background-color: $color-primary-100;
    border-radius: 5px;
    color: $color-primary-900;
    height: 100%;
    width: $space-384;

    ul {
      @extend .my-0;
      padding-left: 14px;

      li {
        @extend .mt-xxs;
      }
    }
  }
}

.data-collection--employee-category-group {
  @extend .mt-xl;

  &:first-child {
    @extend .mt-0;
  }

  h4 {
    @extend.text-t4;
    @extend .text-weight-medium;
    @extend .my-0;
  }
}
