.intro-help-dialog {
  h3,
  p,
  ul {
    margin-top: 0;
    margin-bottom: $space-sm;
  }

  h3 {
    @extend .text-t4;
    font-weight: bold;
  }

  p + h3,
  ul + h3 {
    margin-top: $space-lg;
  }

  ul {
    padding: 8px 0 16px 19px;
  }
}


.help_tooltip {
  vertical-align: middle;
  color: $color-primary-600;

  &:hover {
    cursor: help;
  }
}
