.mapping-progress {
  @extend .flex-center-vertical;
  width: $space-128;
  &.mapping-progress__wide {
    width: $space-192;
  }
  .mapping-progress-icon {
    font-size: map-get($font-sizes, "t3");
  }
  .mapping-progress-text {
    @extend .text-t2;
    @extend .ml-xs;
    font-weight: 400;
    color: $color-neutral-700;
  }
  .mapping-progress--done,
  .mapping-progress--approved {
    color: $color-green-500;
  }
  .mapping-progress--in-progress {
    color: $color-yellow-500;
  }
  .mapping-progress--not-started,
  .mapping-progress--incomplete,
  .mapping-progress--needs-review {
    color: $color-orange-500;
  }

  &.mapping-progres--disabled {
    .mapping-progress-icon {
      color: $color-neutral-500;
    }
    .mapping-progress-text {
      color: $color-neutral-500;
    }
  }
}

.mapping-progress--done,
.mapping-progress--approved {
  color: $color-green-500;
}
.mapping-progress--in-progress {
  color: $color-yellow-500;
}
.mapping-progress--not-started,
.mapping-progress--incomplete,
.mapping-progress--needs-review {
  color: $color-orange-500;
}

.mapping-progress--grey {
  color: $color-neutral-300;
}