.privacy-requests--container {
  @extend .mt-xxl;
  max-width: 896px;

  .privacy-requests--section-header {
    @extend .text-t1;
    @extend .text-spacing-spread;
    @extend .pb-xs;
    @extend .my-0;
    @extend .pl-xs;
    color: $color-neutral-600;
    text-transform: uppercase;
  }

  .privacy-requests--item-row {
    @extend .flex-center-vertical;
    @extend .py-sm;
    border-top: 1px solid $color-neutral-200;
    box-sizing: border-box;
    cursor: pointer;
    height: $space-xxl;

    &:hover {
      background-color: $color-primary-100;
    }
  }

  .privacy-requests--item-name {
    @extend .text-t3;
    @extend .text-weight-medium;
    @extend .ml-xs;
  }

  .privacy-requests--item-progress {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .privacy-requests--consumer-group-type-container {
    @extend .mt-xxl;

    &:first-child {
      @extend .mt-0;
    }

    .privacy-requests--consumer-group-type {
      @extend .text-t1;
      @extend .text-spacing-spread;
      @extend .pb-sm;
      text-transform: uppercase;
      border-bottom: 1px solid $color-neutral-200;
    }
  }

  .privacy-requests--consumer-group {
    @extend .mt-md;

    &:first-child {
      @extend .mt-0;
    }
  }

  .privacy-requests--consumer-group-request-types {
    @extend .ml-lg;
  }

  .privacy-requests--consumer-group-request-type {
    @extend .py-sm;
    @extend .flex-center-vertical;
    border-bottom: 1px solid $color-neutral-200;

    &:last-child {
      border-bottom: 0;
    }

    .privacy-requests--consumer-group-request-type-name {
      @extend .text-t3;
      @extend .text-link;
      @extend .text-weight-medium;
      @extend .flex-center-vertical;
      cursor: pointer;

      .MuiSvgIcon-root {
        font-size: map-get($font-sizes, "t3");
      }
    }

    .privacy-requests--consumer-group-request-type-progress {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
}

.privacy-requests-category-retrieval--container {
  @extend .mt-xxl;
  max-width: $get-compliant-max-table-width;

  .privacy-requests-category-retrieval--category {
    @extend .pt-md;
    @extend .pb-lg;
    display: flex;
    border-bottom: 1px solid $color-neutral-200;

    &:last-child {
      border-bottom: 0;
    }
  }

  .privacy-requests-category-retrieval--category-name {
    @extend .text-t3;
    @extend .text-weight-medium;
    @extend .pr-md;
    box-sizing: border-box;
    width: 335px;
  }

  .privacy-requests-category-retrieval--retrieval-source {
    display: block;
    min-width: $space-512;
    width: calc(100% - 335px);
  }

  .privcay-requests-category-retrieval--system-lookup {
    @extend .flex-center-vertical;
    width: 100%;

    .MuiFormControlLabel-root {
      @extend .mr-md;
      min-width: 165px;
    }

    .privacy-requests-category-retrieval--system-select-container {
      width: 100%;
    }
    .privacy-requests-category-retrieval--system-select {
      width: 100%;
      .MuiCheckbox-root {
        color: $color-primary-600;

        .MuiSvgIcon-root {
          font-size: 1.75rem;
        }
      }
    }
  }
}

.privacy-requests-category-retrieval--system-options {
  .MuiListItem-root {
    &:first-child {
      border-bottom: 1px solid $color-neutral-300;
    }
  }
}

.privacy-requests-category-retrieval--question {
  @extend .mt-xl;
  max-width: $get-compliant-text-width;

  &:first-child {
    @extend .mt-0;
  }

  .privacy-requests-category-retrieval--question-text {
    @extend .text-t3;
    @extend .text-weight-bold;
  }

  .privacy-requests-category-retrieval--question-description {
    @extend .text-t1;
    @extend .mt-xxs;
    color: $color-neutral-600;
  }

  .privacy-requests-category-retrieval--survey-radios {
    @extend .mt-xs;
    .MuiRadio-root {
      margin-left: -11px;
    }
  }

  .privacy-requests-category-retrieval--question-textarea {
    @extend .mt-md;
  }
}

.privacy-requests-category-retrieval-survey-enter {
  opacity: 0.01;
}

.privacy-requests-category-retrieval-survey-enter.privacy-requests-category-retrieval-survey-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.privacy-requests-category-retrieval-survey-exit {
  opacity: 1;
}

.privacy-requests-category-retrieval-survey-exit.privacy-requests-category-retrieval-survey-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-out;
}

.privacy-requests-retention--container {
  @extend .mt-xxl;
  max-width: $get-compliant-max-table-width;

  .privacy-requests-retention--vendor-container {
    @extend .py-mdlg;
    display: flex;
    border-top: 1px solid $color-neutral-200;

    &:first-child {
      border-top: 0;
    }
  }

  .privacy-requests-retention--vendor-name {
    @extend .text-t3;
    @extend .text-weight-medium;
    width: 50%;
  }
  .privacy-requests-retention--vendor-retention-options {
    width: 50%;
  }
  .privacy-requests-retention--vendor-retention-checkboxes {
    display: block;
    .privacy-requests-retention--vendor-retention-checkbox {
      @extend .mb-xs;
      width: 100%;

      .MuiFormControlLabel-label {
        @extend .text-t3;
      }
    }
    .privacy-requests-retention--vendor-retention-select {
      @extend .flex-center-vertical;

      .privacy-requests-retention--retain-checkbox {
        @extend .mr-mdlg;
        width: 90px;
      }
      .privacy-requests-retention--reason-select-container {
        width: calc(100% - (90px + #{$space-mdlg}));
      }
      .privacy-requests-retention--reason-select {
        width: 100%;
      }
    }
  }
}

.privacy-requests-verification--container {
  @extend .mt-xxl;

  .privacy-requests-verification--empty {
    @extend .text-t3;
    @extend .text-style-italic;
    @extend .empty-state;
  }

  .privacy-requests-verification--input-description {
    @extend .text-t3;
    @extend .text-weight-medium;
  }

  .privacy-requests-verification--input-optional {
    @extend .text-t3;
    @extend .ml-xs;
    color: $color-neutral-600;
  }

  .privacy-requests-verification--input {
    @extend .mt-xs;
    max-width: $space-640;
  }

  .privacy-requests-verification--input-select {
    width: $space-384;
  }
}

.privacy-requests-verification-instruction-enter {
  opacity: 0.01;
}

.privacy-requests-verification-instruction-enter.privacy-requests-verification-instruction-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.privacy-requests-verification-instruction-exit {
  opacity: 1;
}

.privacy-requests-verification-instruction-exit.privacy-requests-verification-instruction-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-out;
}
