.privacy-notices--container {
  @extend .mt-xxl;
  max-width: $get-compliant-max-table-width;
}

.privacy-notices--opt-out-form {
  @extend .mt-lg;
  @extend .box-rounded;
  background-color: $color-neutral-100;

  p {
    @extend .m-0;
    @extend .p-md;
  }
}

.privacy-notices--review-container {
  @extend .mt-xxl;
  @extend .text-t3;
  width: $space-768;

  &.privacy-notices--print {
    @extend .mt-0;
    width: unset;
    max-width: 1024px;
    background-color: white;
    color: $color-neutral-900;
  }
  h2,
  h3,
  h4 {
    @extend .text-weight-bold;
    @extend .pb-xs;
  }
  h2 {
    @extend .text-t7;
    // margin-top: $space-lg;
  }
  h3 {
    @extend .text-t6;
    @extend .pt-lg;
  }
  h4 {
    @extend .text-t4;
    @extend .pt-mdlg;
  }
  ul {
    @extend .pb-md;
    padding-left: $ul-left-padding;
  }
  p {
    @extend .pb-sm;
  }
  li {
    @extend .mb-xs;
  }
  h3,
  h4,
  ul,
  p {
    @extend .my-0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    @extend .my-xs;

    th {
      @extend .text-weight-bold;
    }
    th,
    td {
      @extend .px-sm;
      @extend .py-xs;
      text-align: left;
    }
  }
  table,
  tr {
    border: 1px solid $color-neutral-500;
  }
}

.opt-out-notice {
  &--message {
    margin-bottom: $space-xxl;
  }
  &--sample {
    max-width: $max-container-width--wide;
    border: 0.5px solid $color-neutral-600;
    padding: $space-lg;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &--content {
    h2 {
      @extend .text-t6;
      font-weight: bold;
    }
    p {
      @extend .text-t1;
    }
  }
  &--form {
    @extend .text-t2;
    width: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: $color-neutral-600;
    border: 0.5px solid $color-neutral-600;
    border-radius: 5px;

    img {
      border-radius: 5px;
    }

  }
}
