.legacy-settings--container {
  max-width: $get-compliant-max-table-width;
}

.settings--users-add {
  @extend .mt-xl;
  .settings--users-add-btn {
    @extend .py-xxs;
    // width: $space-128;
  }
}

.settings--users-table {
  @extend .mt-xl;

  .settings--users-table-header {
    @extend .text-t1;
    @extend .text-spacing-spread;
    @extend .pb-md;
    display: flex;
    width: 100%;
    font-weight: 400;
    color: $color-neutral-600;
    text-transform: uppercase;
  }

  .settings--users--user-row {
    @extend .pt-md;
    @extend .pb-mdlg;
    display: flex;
    width: 100%;
    border-top: 1px solid $color-neutral-300;
  }

  .settings--users--user,
  .settings--users--user-header {
    flex-grow: 1;
  }
  .settings--users--user,
  .settings--users--last-login {
    @extend .text-t3;
  }
  .settings--users--name {
    @extend .text-weight-medium;
    display: block;
  }
  .settings--users--email {
    color: $color-neutral-700;
    display: block;
  }
  .settings--users--last-login,
  .settings--users--last-login-header {
    width: $space-192;
  }
  .settings--users--actions,
  .settings--users--actions-header {
    width: $space-192;
  }
  .settings--users--actions-header {
    box-sizing: border-box;
    @extend .pl-xs;
  }
}

.settings--users-enter {
  opacity: 0.01;
}

.settings--users-enter.settings--users-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.settings--users-exit {
  opacity: 1;
}

.settings--users-exit.settings--users-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-out;
}
