.intro-survey--container {
  @extend .mt-xxl;
}

.intro-survey--questions-container {
  &.intro-survey--questions-container-offset-first {
    margin-top: -$space-xl;
  }
}

.intro-survey--page-header {
  @extend .text-t5;
  @extend .text-weight-medium;
  @extend .m-0;
}

.survey--question {
  margin-top: $space-xxl;

  &:first-child {
    margin-top: $space-lg;
  }

  .survey-question--header {
    @include typography("t4");
    color: $color-neutral-900;
    width: $space-768;
    margin-bottom: $space-xs;
  }

  .survey-question--question {
    @extend .text-t3;
    @extend .text-weight-bold;
    width: $space-768;
  }

  .survey-question--help-text {
    @extend .text-t1;
    color: $color-neutral-600;
    width: $space-768;
  }

  .survey-question--help-text p {
    margin-top: $space-sm;
    &:first-child {
      margin-top: 0px;
    }
  }

  .survey-question--empty-text {
    @extend .text-style-italic;
  }

  .survey-question--recommendation {
    @extend .text-t3;
    @extend .p-xs;
    @extend .mb-mdlg;
    width: $space-640;
    background-color: $color-yellow-100;
    color: $color-yellow-900;
    margin-top: $space-xs;
    font-weight: 400;
    b {
      font-weight: 500;
    }
    p {
      margin: 0;
    }
    p:not(:last-child) {
      margin-bottom: $space-xs;
    }
  }

  .survey-question--error {
    @extend .text-t3;
    @extend .p-xs;
    @extend .mb-mdlg;
    width: $space-768;
    background-color: $color-red-100;
    color: $color-red-900;
  }

  .survey-question--radios {
    @extend .mt-xs;

    .MuiRadio-root {
      margin-left: -11px;
    }
    .MuiFormControlLabel-label {
      @extend .text-t3;
    }
  }

  .survey-question--checkboxes {
    @extend .mt-xs;
    display: flex;
    flex-direction: column;

    .survey-question--help-text {
      // this value is hardcoded to the material-ui
      margin-left: $mui-checkbox-label-offset;
      margin-top: -$space-xs;
    }
  }

  .survey-question--radio-free-text {
    @extend .mt-xs;
    width: $space-384;
  }

  .survey-question--acknowledgement {
    @extend .my-sm;

    &__btn {
      @extend .flex-center-vertical;
      @extend .text-t3;
      @extend .text-weight-medium;
      cursor: pointer;
      justify-content: center;
      width: $space-192;
      height: $space-xl;
      border: 1px solid $color-neutral-500;
      border-radius: 5px;

      &:first-child {
        @extend .ml-0;
      }
    }
  }

  .survey-question--mult-choice {
    @extend .flex-center-vertical;
    @extend .mt-md;
    width: 100%;

    .survey-question--mult-choice-btn {
      @extend .flex-center-vertical;
      @extend .text-t3;
      @extend .text-weight-medium;
      @extend .ml-mdlg;
      cursor: pointer;
      justify-content: center;
      min-width: $space-192;
      padding-left: $space-md;
      padding-right: $space-md;
      height: $space-xl;
      border: 1px solid $color-neutral-500;
      border-radius: 5px;

      &:first-child {
        @extend .ml-0;
      }

      &.survey-question--mult-choice-selected {
        border-color: $color-primary-600;
        background-color: $color-primary-100;
        color: $color-primary-900;
      }

      &.survey-question--mult-choice-disabled {
        opacity: 0.6;
        cursor: default;
      }
    }
  }
}

.survey-question-fade-enter {
  opacity: 0.01;
}

.survey-question-fade-enter.survey-question-fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.survey-question-fade-exit {
  opacity: 1;
}

.survey-question-fade-exit.survey-question-fade-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-out;
}
