$vendor-inventory-width: 300px;

.vendor_grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: $space-md;
}

.vendor-list-item--clickable {
  cursor: pointer;

  &:hover {
    background-color: $color-primary-100;
  }
}

.vendor-logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: $space-96;
  min-width: $space-96;
  height: $space-96;
  img {
    width: 100%;
    max-height: 100%;
  }

  &.vendor-logo--md {
    width: $space-xxl;
    min-width: $space-xxl;
    height: $space-xxl;
  }

  &.vendor-logo--sm {
    width: $space-lg;
    min-width: $space-lg;
    height: $space-lg;
  }

  &.vendor-logo--xs {
    width: $space-md;
    min-width: $space-md;
    height: $space-md;
  }
}


.add-vendors--search-container {
  box-sizing: border-box;
}

.add-vendors--search-container-header {
  @extend .text-t5;
  @extend .text-weight-medium;
  @extend .mt-0;
  @extend .mb-xs;
}

.add-vendors--search-contents {
  display: flex;
  flex-direction: column;

  .add-vendors--search-loading {
    @extend .mt-lg;
    width: $space-640;
  }

  .add-vendors--search-input {
    max-width: $space-640;
    min-width: $space-384;
  }

  .add-vendors__search-input--radio {
    min-width: $space-384;
  }

  .add-vendors__search-vendor-tiles {
    @extend .mt-lg;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .add-vendors__search-vendor-tiles--radio {
    width: $space-768;
    justify-content: space-between;
  }

  .add-vendors__search-vendor-tile {
    display: flex;

    .add-vendors__search-vendor-tile__details--radio {
      width: 100%;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
      width: 100%;
    }

    &:hover {
      cursor: pointer;

      .add-vendors__search-vendor-tile__details--radio {
        background-color: $color-primary-100;
      }
    }
  }

  .add-vendors__search-vendor-tile--click-through {
    &.add-vendors__search-vendor-tile--two-wide {
      width: 325px;
    }
    width: 256px;
    margin-right: $space-xxs;
  }

  .add-vendors__search-vendor-tile--radio {
    width: $space-360;
    height: $space-96;
    border: 1px solid $color-neutral-500;
    border-radius: 5px;

    &.add-vendors__search-vendor-tile--radio--added {
      border-color: $color-neutral-400;
    }
  }

  .add-vendors__search-vendor-tile--radio--selected {
    border: 1px solid $color-primary-600;
  }

  .add-vendors__search-vendor-tile__logo {
    @extend .p-xs;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 96px;
    min-width: 96px;
    height: 96px;

    img {
      width: 100%;
      max-height: 100%;
    }
  }

  .add-vendors__search-vendor-tile__logo--radio--added {
    img {
      opacity: 0.2;
    }
  }

  .add-vendors__search-vendor-tile__details {
    @extend .ml-sm;
    overflow: hidden
  }

  .add-vendors__search-vendor-tile__details--radio {
    @extend .pl-sm;
    @extend .pb-sm;
    border-left: 1px solid $color-neutral-500;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.add-vendors__search-vendor-tile__details--radio--added {
      border-left-color: $color-neutral-400;
      width: 100%;
    }
  }

  .add-vendors__search-vendor-tile__details--radio--selected {
    background-color: $color-primary-100;
    border-left: 1px solid $color-primary-600;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 100%;
  }

  .add-vendors__search-vendor-tile__details__name {
    @extend .text-t3;
    @extend .text-weight-medium;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .add-vendors__search-vendor-tile__details__name--radio--selected {
    color: $color-primary-900;
  }

  .add-vendors__search-vendor-tile__details__name--radio--added {
    color: $color-neutral-400;
  }

  .add-vendors__search-vendor-tile__details__category {
    @extend .text-t1;
    color: $color-neutral-600;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .add-vendors__search-vendor-tile__details__category--radio--selected {
    color: $color-primary-800;
  }

  .add-vendors__search-vendor-tile__details__category--radio--added {
    color: $color-neutral-400;
  }

  .add-vendors__search-vendor-tile__details__add {
    @extend .mt-md;
    display: flex;
  }
}

.add-vendors--custom-vendor-dialog {
  .MuiDialog-paper {
    width: $space-640;
  }

  .add-vendors--custom-vendor-dialog-title {
    .MuiTypography-root {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .add-vendors--custom-vendor-dialog-title-text {
      display: flex;
      width: 80%;
    }
    .add-vendors--custom-vendor-dialog-title-close {
      display: flex;
      width: 20%;
      justify-content: flex-end;

      .add-vendors--custom-vendor-dialog-title-close-icon {
        cursor: pointer;
      }
    }
  }
}

.add-vendors--custom-vendor-dialog-input {
  margin-top: $space-mdlg;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }
}

.add-vendors--vendor-inventory {
  @extend .ml-lg;
  margin-top: $space-128;
  width: $vendor-inventory-width;
  min-height: $space-384;

  .add-vendors--vendor-inventory-vendor {
    @extend .text-t3;
    @extend .text-weight-medium;
    @extend .mt-sm;
    display: flex;
    align-items: flex-start;

    .add-vendors--vendor-inventory-name {
      @extend .ml-sm;
    }

    .add-vendors--vendor-inventory-remove-icon {
      font-size: map-get($font-sizes, "t1");
      margin-top: $close-icon-vendor-top-margin;
    }

    .add-vendors--vendor-inventory-remove-name {
      @extend .ml-sm;
    }

    .add-vendors--vendor-inventory-edit {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      .add-vendors--vendor-inventory-edit-btn {
        text-transform: lowercase;
      }
      .MuiButton-root {
        min-width: unset;
        @extend .text-t3;
        @extend .text-weight-medium;
      }
      .MuiButton-text {
        @extend .px-xxs;
        @extend .py-0;
      }
    }
  }
}

.add-vendors--vendor-inventory-enter {
  opacity: 0.01;
}

.add-vendors--vendor-inventory-enter.add-vendors--vendor-inventory-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.add-vendors--vendor-inventory-exit {
  opacity: 1;
}

.add-vendors--vendor-inventory-exit.add-vendors--vendor-inventory-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-out;
}

.data-recipient-radio-options {
  @extend .py-lg;

  border-top: 1px solid $color-neutral-200;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  &:last-child {
    @extend .pb-0;
    @extend .mb-0;
  }

  &--multi-group {
    flex-direction: column;
  }
}

.data-recipient-radio-options__label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.data-recipient-radio-options__logo {
  @extend .p-xxs;
  box-sizing: border-box;
  width: 32px;
  min-width: 32px;

  img {
    width: 100%;
    max-width: 24px;
    max-height: 24px;
  }
}

.data-recipient-radio-options__info {
  @extend .ml-sm;
  width: $vendor-selection-info-width;
}

.data-recipient-radio-options__options {
  width: $space-512;

  &--full-width {
    width: max-content;
    display: flex;
    justify-content: flex-end;

    .form-group--row {
      width: max-content
    }
  }

  &--column {
    flex-direction: column;
    width: max-content;
  }
}

.classify-vendors--container,
.contact-vendors--container {
  display: flex;
  flex-direction: column;

  .classify-vendors--container--heading {
    @extend .pt-xxl;
    @extend .text-t3;
    @extend .text-weight-medium;
  }

  .classify-vendors--type {
    width: $get-compliant-text-width;
  }

  .classify-vendors--vendors-container {
    max-width: $get-compliant-max-table-width;
  }





  .classify-vendors--vendor-name,
  .contact-vendors--vendor-name {
    @extend .text-t3;
    @extend .text-weight-medium;
  }

  .classify-vendors--classification-details,
  .contact-vendors--contact-details {
    @extend .mt-xxs;
  }

  .classify-vendors--context-disabled {
    color: $color-neutral-600;
  }

  .contact-vendors--contacted-selection {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: -#{$space-xs};
    min-width: $space-384;
  }

  .contact-vendors--contacted-selection {
    @extend .flex-center-vertical;

    .contact-vendors--checkbox {
      margin-left: -12px;
    }

    .MuiFormLabel-root {
      @extend .text-t3;
      color: $color-neutral-900;
    }
  }



  .classify-vendors--dpa {
    @extend .text-t1;
    @extend .mt-lg;
    max-width: $space-768;
  }
}

.classify-vendors--disclaimer {
  @extend .text-t1;
  @extend .pb-mdlg;
  color: $color-neutral-600;
  position: absolute;
  bottom: 0;
  max-width: $get-compliant-max-table-width;
}

.data-sharing--container {
  max-width: $get-compliant-max-table-width;
}

.map-vendor-data {
  .MuiButtonBase-root {
    .MuiIconButton-label {
      color: $color-primary-600;
    }

    &.Mui-disabled {
      .MuiIconButton-label {
        color: $color-neutral-300;
      }
    }
  }

  .map-vendor-header {
    font-size: map-get($font-sizes, "t5");
    margin-bottom: $space-md;
    font-weight: map-get($font-weights, "bold");
  }

  .map-vendor-subheader {
    font-size: map-get($font-sizes, "t4");
    color: $color-neutral-900;
    margin-bottom: $space-xl;
  }

  hr {
    margin-top: $space-lg;
    background-color: #d1ced9;
  }

  .map-vendor-data--category-group {
    margin-top: $space-xl;
    border: 1px solid $color-neutral-500;
    box-sizing: border-box;
    border-radius: $border-radius;
    padding: $space-md $space-mdlg;
    display: flex;

    .category-icon svg {
      width: $space-xxl;
      height: $space-xxl;
      margin-right: $space-lg;
      color: $color-primary-300;
    }
    .category-content {
      flex-grow: 1;

      .category-title {
        font-size: map-get($font-sizes, "t4");
        color: $color-neutral-900;
        font-weight: map-get($font-weights, "bold");
        margin: 0px;
      }
      .category-options {
        display: flex;
        width: 100%;

        & > ul {
          padding-left: 0;
          list-style-type: none;
          width: 50%;
        }

        li {
          margin-top: $space-md;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.contact-vendors--header-contact-template {
  @extend .text-font-mono;
  @extend .mt-md;
  @extend .px-md;
  @extend .py-sm;
  @extend .text-t1;
  background-color: white;
  border: 1px solid $color-neutral-500;
  white-space: pre-line;
}

.contact-vendors--header-contact-action {
  @extend .mt-md;
  text-align: right;

  .contact-vendors--header-contact-btn {
    @extend .text-t1;
    background-color: $color-primary-200;
    color: $color-primary-700;
    text-transform: lowercase;
    width: $space-xxxl;
  }
}

.contact-vendors--checkbox {
  margin-left: -12px;
}

.request-instructions--content {
  .input-label-container {
    margin-bottom: $space-xs;
  }

  .classify-vendors--classification-details a {
    font-weight: map-get($font-weights, "bold");
    color: $color-secondary-600;
  }
}

.instructions--text-field {
  max-width: $space-768;
  width: 100%;
}
