@use 'sass:math';

.avatar {
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
  }

  &.avatar-sm {
    width: $avatar-size-sm;
    height: $avatar-size-sm;
  }

  &.avatar-md {
    width: $avatar-size-md;
    height: $avatar-size-md;
  }

  &.avatar-xl {
    width: $avatar-size-xl;
    height: $avatar-size-xl;
  }

  &.avatar--center {
    margin-left: auto;
    margin-right: auto;
  }
}

.letter_avatar {
  border-radius: $border-radius;
  color: $color-white !important;
  font-weight: bold;
}
