.top-banner {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;

  > :last-child {
    box-shadow: $box-shadow-heavy;
  }

  .MuiAlert-root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    &:first-child {
      z-index: 1;
    }
  }
}