$button-colors: (
  "primary": $color-primary-600,
  "default": $color-neutral-100,
  "secondary": $color-secondary-800,
  "success": $color-green-600,
  "error": $color-red-600,
  "info": $color-neutral-300,
  "warning": $color-yellow-300,
);

$button-hover-colors: (
  "default": $color-neutral-200,
);

@mixin buttonInset($shadow-color) {
  box-shadow: inset 0px -2px 0px $shadow-color;
  transition: box-shadow $animation-time-fast ease-in-out;

  &.Mui-disabled {
    box-shadow: inset 0px -2px 0px $shadow-color;

    &:hover {
      box-shadow: inset 0px -2px 0px $shadow-color;
    }
  }
}

@mixin buttonBackground($bg, $name) {
  background-color: $bg;
  color: contrast-color($bg, darken($bg, 90%), lighten($bg, 90%));

  &:hover {
    background-color: if(
      map-has-key($button-hover-colors, $name),
      map-get($button-hover-colors, $name),
      darken($bg, 5%)
    );
    color: contrast-color($bg, darken($bg, 90%), lighten($bg, 90%));
  }

  &.Mui-disabled {
    &,
    &:hover {
      color: contrast-color($bg, darken($bg, 90%), lighten($bg, 90%));
      background-color: $bg;
      opacity: 0.15;
    }
  }
}

.MuiButton {
  &-root {
    padding-bottom: $space-xs;
    padding-top: $space-xs;
    line-height: map-get($line-heights, "t3");
    white-space: nowrap;
  }

  &-flat {
    box-shadow: none;
  }

  &-outlinedPrimary {
    background-color: $color-primary-100;
    color: $color-primary-800;

    &:active {
      background-color: $color-primary-200;
    }
  }

  @each $name, $bg in $button-colors {
   $capitalName: capitalize($name);

   &-flat#{$capitalName} {
      @include buttonBackground($bg, $name);
    }

    &-contained#{$capitalName} {
      @include buttonInset(darken($bg, 5%));
      @include buttonBackground($bg, $name);
    }
  }

  &-sizeMedium {
    font-size: map-get($font-sizes, "t2");
    line-height: map-get($line-heights, "t2");
  }

  &-sizeSmall {
    font-size: map-get($font-sizes, "t1");
    line-height: map-get($line-heights, "t1");
    padding: $space-xs $space-sm;
  }

  &-sizeXs {
    font-size: map-get($font-sizes, "t0");
    line-height: map-get($line-heights, "t0");
    padding: $space-xxxs $space-xxs;
    min-width: $space-xl;
  }

  &-sizeLarge {
    font-size: map-get($font-sizes, "t3");
    line-height: map-get($line-heights, "t3");
    padding: $space-sm $space-md;
  }
}

.btn-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color-neutral-100, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
