.callout {
  transition: background-color ease-in-out 0.125s, border-color ease-in-out 0.125s;

  .MuiCardHeader-title {
    font-weight: map-get($font-weights, "medium");
    font-size: map-get($font-sizes, "t3");
  }

  .MuiCardHeader-subheader {
    font-size: map-get($font-sizes, "t1");
  }

  .MuiCardContent-root {
    &:last-child {
      padding-bottom: $space-md;
    }

    p,
    ul,
    ol {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--collapsed {
    .callout__header {
      border-bottom: none !important;
    }
  }

  &--purple {
    background-color: $color-primary-100;
    color: $color-primary-900;

    .callout__icon {
      color: $color-primary-600;
    }
  }

  &--purple--bordered {
    background-color: $color-primary-100;
    color: $color-primary-900;
    border: 1px solid $color-primary-200;

    .callout__icon {
      color: $color-primary-600;
    }
  }

  &--light-purple {
    background-color: $color-neutral-100;
    color: $color-primary-900;

    .callout__icon {
      color: $color-primary-600;
    }
  }

  &--light-purple--bordered {
    background-color: $color-white;
    border: 1px solid $color-neutral-200;
    color: $color-primary-900;

    .callout__icon {
      color: $color-primary-600;
    }

    .callout__header {
      background-color: $color-neutral-100;
      border-bottom: 1px solid $color-neutral-200;
    }
  }

  &--green {
    background-color: $color-green-100;
    color: $color-green-900;

    .callout__icon {
      color: $color-green-600;
    }
  }

  &--gray {
    background-color: $color-neutral-100;
    border: 1px solid $color-neutral-100;

    .callout__icon {
      color: $color-neutral-600;
    }
  }

  &--light-gray {
    background-color: $color-neutral-000;
    border: 1px solid $color-neutral-100;

    .callout__icon {
      color: $color-neutral-600;
    }
  }

  &--yellow {
    background-color: $color-yellow-100;
    color: $color-yellow-900;

    .callout__icon {
      color: $color-yellow-800;
    }
  }
  &--red {
    background-color: $color-red-100;
    color: $color-red-900;

    .callout__icon {
      color: $color-red-800;
    }
  }

  &--clear {
    color: $color-primary-900;
    border: solid 1px $color-neutral-300;
  }

  .copy-text {
    background-color: $color-primary-200;
    border-radius: $border-radius;
    width: $space-96;
    font-size: 14px;
    color: $color-neutral-900;
    font-weight: map-get($font-weights, "medium");

    &:hover {
      background-color: $color-primary-400;
    }
  }
}

.section-callout {
  border-radius: 5px;
}

.section-callout--dark {
  background-color: $color-neutral-200;
}

.section-callout--white {
  background-color: white;
}