.MuiChip {
  &-mutedPrimary {
    background-color: $color-primary-100;
    color: $color-primary-700;

    .MuiChip-deleteIcon {
      color: $color-primary-400;
      &:hover {
        color: $color-primary-500;
      }
    }
  }

  &-sizeXs {
    font-size: map-get($font-sizes, "t0");
    line-height: map-get($line-heights, "t0");
    height: auto;
  }
}
