$sidebar-width: $space-384;

.get-compliant-container {
  @extend .mt-xl;
  display: flex;
  flex-direction: row;

  &--content {
    max-width: $max-container-width;
    min-width: $min-container-width;
    flex: 2;
  }

  &--wide {
    .get-compliant-container--content {
      max-width: $max-container-width--wide;
      min-width: $min-container-width--wide;
    }
  }

  &--full-width {
    .get-compliant-container--content {
      max-width: none;
      min-width: $min-container-width--wide;
    }
  }

  &--sidebar {
    @extend .ml-lg;
    min-width: $sidebar-width;
    flex: 1;
  }
}
