.MuiDialogTitle {
  &-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.logo-upload-dialog {
  .MuiDialog-paperWidthMd { width: $space-768; }

  .logo-upload-dialog--help-image {
    @extend .mb-lg;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 320px;
    }
  }


  .logo-upload-dialog--content {
    @extend .p-lg;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $color-neutral-300;
  }


  .logo-image-preview {
    @extend .flex-col;

    box-sizing: border-box;
    align-items: center;
    width: 100%;

    .logo-image-preview--img {
      @extend .px-xl;
      max-width: $space-512;
      max-height: $space-256;

      &.logo-image-preview--icon {
        width: $space-256;
        height: $space-192;
        color: $color-neutral-100;
      }
    }
  }
}
