.draggable {
  transition: box-shadow $animation-time-fast ease;

}

.draggable-card {
  border: 1px solid #E8E5EE;
  /* /Button Shadow - Medium gray */
  box-shadow: inset 0px -2px 0px #D3D0DC;
  border-radius: 5px;
}

.dragging {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 6px 10px rgba(0, 0, 0, 0.14);
  background-color: white;
  border-radius: 5px;
}

.drop-zone {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23748AA1FF' stroke-width='3' stroke-dasharray='5%2c 10' stroke-dashoffset='15' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 5px;

  transition: top $animation-time ease-out;

  .drop-zone--red {
    background-color: red;
  }
}
