.due-date-card {
  border-radius: $border-radius;
  padding: $space-xs;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-neutral-900;
  font-size: map-get($font-sizes, "t2");

  svg {
    font-size: 1rem;
  }

  &.due-date-card--condensed {
    padding: 0px $space-xs;
  }

  &.due-date-card--warning {
    background-color: $color-yellow-100;
    border: 1px solid $color-yellow-200;
  }

  &.due-date-card--danger {
    background-color: $color-red-100;
    border: 1px solid $color-red-200;
  }
}
