
.error-container {
  box-sizing: border-box;
  background-color: #F3F5FA;
  color: #313132;
  font-family: "Avenier Next", "Roboto", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
}

.error-illustration {
  width: 85%;
  margin: 0 auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.error-message {
  transform: translateY(-35%);
}

.error-notice {
  background-color: $color-red-100;
  color: $color-primary-900;
  border-radius: $border-radius;
}
