a.spacer {
  flex-grow: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-container {
  display: flex;
}


.flex-row {
  display: flex;
  flex-direction: row;
  & > * {
    margin-right: $space-md;
    &.MuiFormControl-root {
      margin-right: $space-md;
      &:last-child {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.flex--revsered {
    flex-direction: row-reverse;
  }
}

.flex-row--simple {
  display: flex;
  flex-direction: row;
}

.flex-end {
  justify-content: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
  & > div {
    margin-bottom: $space-md;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.flex--expand {
  & > * {
    flex: 1;
  }
}

.flex--expand-self {
  flex: 1;
}

.flex--end {
  justify-content: flex-end;
}

.flex--center {
  justify-content: center;
}

.flex--between {
  justify-content: space-between;
}

.flex--justify-start {
  justify-content: flex-start;
}

.flex--align-center {
  align-items: center;
}

.flex--align-start {
  align-items: start;
}

.flex--align-stretch {
  align-items: stretch;
}

.flex--justify-center {
  justify-content: center;
}

.MuiDivider-root.MuiDivider-vertical {
  align-self: stretch;
  height: auto;
}

.flex-center-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex--wrap {
  flex-wrap: wrap;
}
