.progress-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-footer-content {
  @extend .text-t3;
  display: flex;
  align-items: center;
  color: $color-neutral-600;
  font-weight: 400;
}

.progress-footer-actions {
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;
}


.progress-footer-save-icon {
  @extend .ml-xxs;
  display: flex;
}

.progress-footer-save-text {
  @extend .ml-xxs;
  display: flex;
}
