.header-container {
  display: flex;
  flex-direction: column;

  &.header-container--wide {
    width: unset;
  }

  .header-container--title-header {
    @extend .text-t1;
    @extend .text-spacing-spread;
    @extend .mb-xxs;
    @extend .mt-0;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-neutral-700;
  }

  .header-container--title {
    @extend .text-t6;
    @extend .text-weight-bold;
    @extend .m-0;
    color: $color-primary-800;
  }

  .header-container--subtitle {
    @extend .text-t6;
    @extend .text-weight-medium;
    @extend .mt-md;
    @extend .mb-0;
  }

  .header-container--progress-content {
    @extend .mt-sm;
    @extend .mb-md;
    display: flex;
    width: $space-512;
    .progress-component {
      flex-grow: 1;
      height: $space-xxs;
      border-left: 0.5px solid $color-primary-600;
      border-top: 0.5px solid $color-primary-600;
      border-bottom: 0.5px solid $color-primary-600;
      &.filled {
        background-color: $color-primary-600;
      }
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-child {
        border-right: 0.5px solid $color-primary-600;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  .header-container--description {
    margin-top: $space-md;

    .MuiTypography-body1 {
      letter-spacing: normal;
    }

    ul {
      padding-left: $ul-left-padding;
    }

    & > p {
      line-height: 28px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .header-container--notes {
    @extend .mt-md;
    .MuiTypography-body1 {
      font-size: map-get($font-sizes, "t2");
    }
  }
}
