.image_stepper {
  width: 100%;
  height: $page-height;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: $space-xl;
    height: 100%;
  }

  &__frame {
    width: 100%;
    margin-bottom: $space-xl;
    margin-top: auto;
  }

  &__image {
    height: 400px;
  }

  &__header {
    width: 85%;
    margin-top: auto;
  }

  &__stepper_nav {
    width: 100%;
    margin-top: $space-xl;
  }
}
