body {
  .MuiFormControlLabel-root {
    margin-left: 0px;

    &.highlight {
      background: $color-primary-100;
      border: 1px solid $color-primary-200;
      border-radius: $border-radius;

      // this magic value is curtesy of PrivateSwitchBase-root
      padding-right: 9px;
    }
  }
}

.MuiFormGroup-root {
  &.form-group--row {
    flex-direction: row;
  }
  &.form-group--col {
    flex-direction: column;
  }
}

.MuiSwitch-switchBase.Mui-checked {
  color: $purple !important;
}
.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: $purple !important;
}
.MuiRadio-root.Mui-checked:not(.Mui-disabled) {
  color: $purple !important;
}

.MuiCheckbox-root {
  &.Mui-checked .MuiSvgIcon-root {
    color: $color-fill;
  }
  &.Mui-disabled.Mui-checked .MuiSvgIcon-root {
    color: $color-fill-disabled;
  }
  &.Mui-disabled:not(.Mui-checked) {
    opacity: 0.2;
  }
  &.checkbox-disabled.Mui-checked .MuiSvgIcon-root {
    color: $color-fill-disabled;
  }
}

.MuiCheckbox-root {
  color: $color-primary-600;

  .MuiSvgIcon-root {
    font-size: 1.75rem;
  }
}

// TODO: Track this down and fix it the right way.
.MuiFormControlLabel-label.MuiTypography-body1 {
  font-weight: 400;
}

.input--note {
  .MuiInputBase-root {
    background-color: rgba($yellow, 0.2);
    border-color: $yellow;
  }
}

.input-container--settings-text {
  max-width: $settings-text-input-width;
  .input--settings-text {
    width: 100%;
  }
}

.input--settings-text-narrow {
  max-width: $settings-text-input-width;
}

.error {
  .editor-toolbar {
    border-color: $red;
  }

  .CodeMirror {
    border-color: $red;
  }
}

.input--textarea-end-adornment {
  .MuiInputBase-root {
    display: inline-block;
    textarea.MuiInputBase-inputAdornedEnd {
      display: inline-block;
    }
    .MuiInputAdornment-root.MuiInputAdornment-positionEnd {
      @extend .ml-0;
      @extend .mt-sm;
      display: inline-block;
      white-space: break-spaces;
    }
  }
}

.MuiTextField-root.input-warn {
  .MuiFormLabel-root {
    color: $color-warning;
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: $color-warning !important;
  }
  .MuiFormHelperText-root {
    color: $color-warning;
  }
}

.logo-upload-input {
  display: flex;
  @extend .flex--align-center;

  .logo-upload-input--preview {
    display: flex;
    @extend .flex--center;
    @extend .flex--align-center;
    // flex: 4;
    .logo-upload-input--preview-img {
      max-height: 100px;
      max-width: 320px;
      min-width: 100px;
    }
    &.logo-upload-input--empty {
      .logo-upload-input--preview-img {
        display: flex;
        @extend .flex--center;
        @extend .flex--align-center;
        text-align: center;
        border: 1px $color-form-label dashed;
        width: 320px;
        height: 100px;
        &.logo-preview-error {
          border-color: $color-error;
        }
      }
    }
  }

  &.logo-upload-favicon {
    .logo-upload-input--preview {
      justify-content: flex-start !important;
      max-width: 66px;
      &.logo-upload-input--empty {
        .logo-upload-input--preview-img {
          width: 64px;
          min-width: 64px;
          height: 64px;
        }
      }
      .logo-upload-input--preview-img {
        width: 64px;
        min-width: 64px;
        max-width: 64px;
        height: 64px;
      }
    }
  }

  .logo-upload-input--actions {
    display: flex;
    @extend .flex--center;
    @extend .flex--align-center;
    margin-left: $space-sm;
    // flex: 1;
  }
}

.logo-upload-input--label {
  font-size: map-get($font-sizes, "t0");
  color: $color-form-label;
  margin-bottom: $space-xs;
  &.text-error {
    color: $color-error;
  }
}

.input-label--label {
  @extend .text-t3;
  font-weight: 500;
}

.input-label--heavy {
  @extend .text-t3;
  @extend .text-weight-bold;
  // width: $space-768;
}

.input-label--light {
  @extend .text-t3;
  font-weight: 400;
}

.input-label--help-text {
  @extend .text-t1;
  color: $color-neutral-600;
  max-width: $space-768;
  padding-bottom: $space-xs;
}

.input-label--help-text p {
  margin-top: $space-sm;
  &:first-child {
    margin-top: 0px;
  }
}

.standard--radios {
  @extend .mt-xs;

  .MuiRadio-root {
    margin-left: -11px;
  }
  .MuiFormControlLabel-label {
    @extend .text-t3;
    font-weight: 400;
  }
}

.MuiFormControlLabel-root .MuiCheckbox-root {
  margin-left: -12px;
}

.MuiInputBase-root:hover {
  .MuiInputAdornment-root {
    border-right-color: $color-neutral-900;
  }
}

.Mui-focused {
  .MuiInputAdornment-root {
    border-right-color: $color-primary-600;
  }
}

.MuiInputAdornment-root {
  &.MuiInputAdornment-positionStart {
    height: auto;
    border-right: 1px solid $color-form-border;
    max-height: none;
    align-self: stretch;
    padding-right: $space-xs;
    color: $color-neutral-600;
  }
}

.column-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
