a {
  font-weight: map-get($font-weights, "regular");
  color: $color-secondary-600;

  &[xhref], &:not([href]) {
    color: unset;
    text-decoration: unset;
    font-weight: unset;
  }

  &:hover {
    color: $color-secondary-800;
  }

  &:not([href]):hover {
    color: unset;
    text-decoration: unset;
    font-weight: unset;
  }

  transition: opacity $animation-time-fast ease-in-out;
  &.opacity {
    opacity: 0.8;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.link--primary {
    color: $color-primary-600;
    &:hover {
      color: $color-primary-900;
    }
  }

  &.neutral-700 {
    color: $color-neutral-700;
  }

  &.link-blue {
    color: $color-secondary-600;
    &:hover {
      color: $color-secondary-800;
    }
  }

  &.neutral-900 {
    color: $color-neutral-900;
  }
}

.callout--purple {
  a {
    color: $color-primary-600;
    &:hover {
      color: $color-primary-900;
    }
  }
}

.MuiLink-underlineHover {
  text-decoration: underline !important;
  cursor: pointer;
}
