$bullet-size: 32px;

ol.custom {
  list-style: none;
  counter-reset: custom-counter;

  & li {
    counter-increment: custom-counter;

    &::before {
      content: counter(custom-counter);
      color: $color-primary-700;
      background-color: $color-primary-100;
      margin-right: $space-md;

      border-radius: $bullet-size;
      width: $bullet-size;
      min-width: $bullet-size;
      height: $bullet-size;

      transform: translateY(-1px);
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-weight: map-get($font-weights, "bold");
      font-size: map-get($font-sizes, "t1");
    }
  }
}


ul.retention-reason-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2;
}
