.nav-popover-menu {
  .MuiPaper-root {
    min-width: 150px;
  }

  .MuiListItem-button:hover {
    background-color: unset;
    color: $color-primary;
  }
}

.split-button-popover-menu {
  .MuiListItem-button:hover {
    background-color: unset;
    color: $color-primary;
  }
}
