
.primary-nav {
  padding-top: $space-xxl;
  padding-bottom: $space-xxl;

  width: $get-compliant-progress-nav-width;
  background: $color-primary-nav-background;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $color-neutral-200;

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: $space-xl;
    img {
      width: 48px;
    }
  }

  &__divider {
    height: 0;
    border: none;
    border-top: 1px solid $color-neutral-200;
    margin-bottom: $space-mdlg;
  }

  &__content {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__link {
    padding-left: $space-mdlg;
    padding-right: $space-mdlg;
    margin-bottom: $space-mdlg;

    &.indented,&.level-2 {
      padding-left: $space-xl;
      font-weight: map-get($font-weights, "light");

      margin-bottom: $space-sm;

      &:last-child {
        margin-bottom: $space-mdlg;
      }

      a {
        font-weight: map-get($font-weights, "light");
      }
    }

    &.level-3 {
      padding-left: $space-xl+$space_lg;
      font-size: map-get($font-sizes, "t1");
      font-weight: map-get($font-weights, "light");

      margin-bottom: $space-sm;
      a {
        font-size: map-get($font-sizes, "t1");
        font-weight: map-get($font-weights, "light");
      }

    }

    &:last-child {
      margin-bottom: 0;
    }

    &.disabled {
      color: $color-primary-nav-disabled;
      .primary-nav__progress-icon {
        color: $color-primary-nav-disabled;
      }
      a {
        color: $color-neutral-500;
        cursor: default;
      }
    }

    a {
      @extend .text-t2;

      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      color: $color-neutral-900;
      font-weight: 400;

      &.active {
        @extend .text-weight-black;
      }
    }
  }

  &__progress-icon {
    color: $color-primary-600;
    font-size: map-get($font-sizes, "t2");
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &__bottom-link {
    padding-left: $space-mdlg;
    padding-right: $space-mdlg;
    margin-bottom: $space-mdlg;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }

    &,
    span {
      color: $color-neutral-800;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bottom-icon {
    margin-right: $space-sm;

    color: $color-neutral-500;

    &--selected {
      color: $color-neutral-900;
    }
  }

  &__bottom-links {
    width: 100%;
    border-top: 1px solid $color-neutral-200;
    padding-top: $space-xxl;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      font-weight: 400;
    }
  }

  &.primary-nav--admin {
    height: calc(100vh - 128px);
  }

  &__survey-alert-button.MuiButton-containedDefault.Mui-disabled,
  &__survey-alert-button.MuiButton-containedDefault.Mui-disabled:hover,
  &__survey-alert-button.MuiButton-root,
  &__survey-alert-button.MuiButton-root:hover {
    background-color: $color-survey-alert-background;
    color: $color-survey-alert-text;
  }
}

.new-survey-alert {
  background-color: $color-survey-alert-background;
  color: $color-survey-alert-text;

  a {
    color: $color-survey-alert-text;
    font-weight: bold;
  }
}

.more-menu {
  position: absolute;
  top: $space-sm;
  right: $space-sm;
}

.more-menu-container {
  position: relative;
}

.MuiTableCell-root.td-outlined {
  padding-left: 0;
  padding-top: $space-sm;
  padding-bottom: $space-sm;
}

.item-outlined {
  border: 1px solid $color-primary;
  border-radius: 5px;
  padding: $space-xs $space-md;
}

.header-nav {
  width: 100%;
  height: 80px;
  background-color: $color-neutral-000;
  padding-left: $space-xxl;
  padding-right: $space-xxl;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 48px;
    }
  }

  &__items {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .primary-nav__bottom-link {
      padding-right: 0;
    }
  }
}
