// Current
$page-width: calc(1280px - #{$get-compliant-progress-nav-width});
$page-nonav-width: calc(1280px - #{$space-96});

.page .page-content {
  background-color: white;
  color: $color-neutral-900;
  overflow-y: auto;
  flex: 1;

  &.page-content--admin {
    height: 100vh;
  }
}

.page .page-content--header {
  min-width: $page-width;
  max-width: $page-width;

  &.page-content--nonav {
    max-width: unset;
    width: 100%;
  }
}

.page .page-content--inner {
  position: relative;
  min-width: $page-width;
  max-width: $page-width;
  padding-top: $space-xxl;
  padding-left: $space-xxl;
  padding-right: $space-xxl;
  padding-bottom: $space-256;

  min-height: $page-height;

  &.page-content--no-padding {
    @extend .p-0;
  }

  &.page-content--full-width {
    max-width: 100%;
  }

  &.page-content--nonav {
    max-width: $page-nonav-width;
    margin-left: auto;
    margin-right: auto;
  }
}

#page-footer {
  position: sticky;
  bottom: 0;
  z-index: 99;
}

.page .page-content--hero {
  background-color: $color-neutral-000;
  border-bottom: 1px solid $color-neutral-200;
  position: relative;

  &.page-content--hero--collapsed {
    .page-content--hero-inner {
      padding-top: $space-sm;
      padding-bottom: $space-sm;
    }
  }

  .page-content--hero-inner {
    padding: $space-md;
    max-width: 1280px;
  }

  .page-content--hero-collapse-button {
    position: absolute;
    bottom: 0;
    right: $space-xl;
    transform: translateY(50%);
    transition: opacity 0.125s ease-in-out;
    z-index: 10;
    background-color: $color-white;
    border: 1px solid $color-neutral-200;

    &:hover {
      opacity: 1;
    }
  }
}



.page .page-content--footer {
  @extend .py-md;
  @extend .px-xxl;
  min-width: $page-width;
  border-top: 1px solid $color-neutral-200;
  background-color: white;
}

.external-link {
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  flex-direction: row;

  &.external-link__purple {
    color: $color-primary-500;

    &:hover {
      color: $color-primary-700;
    }
  }

  &:hover {
    text-decoration: underline;
  }

  &.external-link-disabled {
    color: $color-neutral-500;
    &:hover {
      color: $color-neutral-500;
      text-decoration: underline;
    }
  }
}

.text-link {
  text-decoration: underline;
  color: $color-secondary-600;
  &:hover {
    color: $color-secondary-800;
    text-decoration: underline;
  }
  &.text-link-disabled {
    color: $color-neutral-500;
    &:hover {
      color: $color-neutral-500;
      text-decoration: underline;
    }
  }
}

hr {
  border-top: 1px solid $color-neutral-200;
  border-bottom: 0;
}

.vr {
  border-right: 1px solid $color-paper-divider;
}

// Legacy; deprecated

body {
  margin: 0;
  padding: 0;
  color: $color-text-main;
}

.page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.page-content {
  overflow-y: auto;
  flex: 1;
  background-color: $background-light;
}

.page-content--inner {
  padding: $space-md;
  max-width: 1440px;
  min-width: 900px;
  flex: 1;
}

.page-content--full {
  min-height: calc(100vh - (2 *#{$space-lg}));
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: $space-lg;
}

.page.page--contained {
  background-color: #327bf8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .page-box {
    width: 1000px;
    min-width: 1000px;
  }

  .page-box--inner {
    padding: $space-lg $space-md;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .page-box__img-wrapper {
    width: 545px;
  }

  .page-box__img {
    width: 100%;
  }

  .page-box__content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: $space-xl;
    flex-direction: column;
  }
}
