.progress-card {
  @extend .box-rounded;

  background-color: $color-neutral-000;
  border: none;
  padding: $space-md;

  &__steps-grid {
    margin-top: $space-md;
    display: grid;
    grid-gap: $space-md;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }

  &__step-grid-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__step-icon {
    margin-right: $space-xs;
    transform: translateY(5px);
  }

  &--active {
    border: 1px solid $color-neutral-600;
  }

  &--disabled {
    opacity: 0.6;
  }

  &__link {
    color: $color-neutral-800;
    text-decoration: none;

    &:hover {
      color: $color-neutral-900;
      text-decoration: underline;
    }
  }
}
