.stepper {
  width: $space-840;
  justify-content: center;

  .MuiStepConnector-root {
    top: calc(#{$stepper-icon-size} / 2);
    left: calc(-50% - #{$stepper-connector-gap});
    width: $stepper-line-width;
  }

  svg.icon-skip-right-arrow_svg__skip {
    fill: $color-primary-600;
  }

  .MuiSvgIcon-root {
    height: $stepper-icon-size;
    width: $stepper-icon-size;

    circle {
      fill: white;
      stroke: $color-neutral-700;
      stroke-width: 1px;
      r: 11px;
    }

    text {
      fill: $color-neutral-700;
    }

    &.Mui-active {
      circle {
        fill: $color-primary-600;
        stroke: $color-primary-600;
      }
      text {
        fill: white;
      }
    }

    &.Mui-completed {
      opacity: 0.25;
    }
  }

  .MuiStepLabel {
    &-label {
      font-size: map-get($font-sizes, "t2");
      font-weight: map-get($font-weights, "regular") !important;
      &.MuiStepLabel-completed,
      &.MuiStepLabel-active {
        color: $color-primary-600;
      }
    }
  }


  .MuiStepConnector-line {
    border-width: 2px;
  }

  .Mui-active .MuiStepConnector-line {
      border-color: $color-primary-600;
  }

  .Mui-completed .MuiStepConnector-line {
    border-color: $color-primary-600;
}

  .MuiStepLabel-label.Mui-active.MuiStepLabel-alternativeLabel {
    color: $color-primary-600;
  }
  .MuiStepLabel-label.Mui-completed.MuiStepLabel-alternativeLabel {
    color: $color-primary-600;
  }

  .MuiStep {
    &-root {
      flex: 0 0 $stepper-line-width;
      margin: 0px $stepper-root-margin;
    }
  }

  // .MuiStepConnector-lineHorizontal {
  // 	border-width: 2px;
  // 	border-color: #918CA1;
  // }
}
