.MuiTable-root {
  margin-top: $space-xl;

  .MuiTableCell-root {
    padding: $space-md $space-xs;
    vertical-align: middle;

    // &:nth-child(1) {
    //   width: $space-512;
    // }

    &:nth-child(2) {
      width: $space-256;
    }
  }

  .MuiTableCell-head {
    font-size: map-get($font-sizes, "t1");
    font-weight: map-get($font-weights, "regular");
    line-height: map-get($line-heights, "t1");
    text-transform: uppercase;
    letter-spacing: map-get($letter-spacings, "narrow");
    color: $color-neutral-600;
    padding-top: 0;
    padding-bottom: $space-xs;
  }

  .MuiTableCell-body {
    font-size: map-get($font-sizes, "t3");
    line-height: map-get($line-heights, "t3");
    font-weight: map-get($font-weights, "regular");
    color: $color-neutral-900;
  }
}

.table--no-row-borders {
  .MuiTableCell-root.MuiTableCell-body {
    border: 0;
  }
}

.action-table--container {
  @extend .mt-xxl;
  max-width: $get-compliant-max-table-width;
}


  td.MuiTableCell-root.MuiTableCell-body.heading-row {
    background-color: $color-neutral-000;
    padding-top: $space-xs;
    padding-bottom: $space-xs;
    color: $color-neutral-600;
    font-size: map-get($font-sizes, "t1") !important;
    font-weight: map-get($font-weights, "medium") !important;
  }
