.polaris_tabs {
  margin-top: $space-lg;

  &__tab {
    min-width: 180px;

    font-size: map-get($font-sizes, "t4");
    font-weight: map-get($font-weights, "regular");
    color: $color-neutral-600;
    padding-top: $space-sm;
    padding-bottom: $space-md;

    &.Mui-selected {
      font-weight: map-get($font-weights, "bold");
      color: $color-neutral-900;
    }
  }

  .MuiTabs-indicator {
    height: $space-xs;
    background-color: $color-primary-600;
  }
}

.tab-panel {
  min-height: $tab-panel-empty-height;

  display: flex;
  flex-direction: column;
}

.tab-panel-content {
  &--fill {
    @extend %fill;
    flex: 1;
  }
}
