.tip-box {
  padding: $space-md;
  border-radius: $border-radius;
  background-color: $color-primary-100;
  color: $color-primary-900;
  width: $space-640;

  &--light-purple {
    background-color: $color-primary-100;
    color: $color-primary-900;
    width: auto;
    height: $space-xl;
  }

  &--light-yellow {
    background-color: $color-yellow-100;
    color: $color-yellow-900;
    width: auto;
    height: $space-xl;
  }

  ul {
    padding-left: $space-lg;
  }

  h4.tip-box__title {
    font-weight: map-get($font-weights, "bold");
  }
}

.tip-box-group {
  &--item {
    margin-top: $space-xs;
  }
}
