@each $scale in map-keys(map-merge($font-sizes, $line-heights)) {
  .text-#{$scale} {
    @include typography($scale);
  }
}

.font-size-unset {
  font-size: unset !important;
}

@each $scale, $weight in $font-weights {
  .text-weight-#{$scale} {
    font-weight: $weight;
  }
}

@each $scale, $spacing in $letter-spacings {
  .text-spacing-#{$scale} {
    letter-spacing: $spacing;
  }
}

.text-disabled {
  color: $color-neutral-500;
}

.text-underlined-heading {
  padding-bottom: $space-md;
  letter-spacing: $caps-letter-spacing;
}

@each $scale, $variants in $type-scale {
  @each $weight, $spacing in $variants {
    @if $spacing {
      $letter-spacing: map-get($letter-spacings, $spacing);
      @if not $letter-spacing {
        @error "Unknown letter-spacing #{$spacing} used in type-scale[#{$scale}][#{$weight}]";
      }

      .text-#{$scale}.text-weight-#{$weight} {
        letter-spacing: $spacing;
      }
    }
  }
}

// TODO: Should this live here? Where else would it live?
.text-pointer {
  cursor: pointer;
}

.text-nowrap {
  white-space: nowrap;
}

.text-truncate-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.text-pre-line {
  white-space: pre-line;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-transform-none {
  text-transform: none;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-lower {
  text-transform: lowercase;
}

.text-style-italic {
  font-style: italic;
}

.text-style-normal {
  font-style: normal;
}

pre,
code,
.text-font-mono {
  font-family: map-get($fonts, "mono");
}

html,
body {
  font-family: map-get($fonts, "main");
  @include typography("t3", "regular");
}

ul.text-t2 {
  li {
    @include typography("t2", "regular");
  }
}

h1,
.text-h1 {
  @include typography("t8", "bold");
}

h2,
.text-h2 {
  @include typography("t7", "bold");
}

h3,
.text-h3 {
  @include typography("t6", "bold");
}

h4,
.text-h4 {
  @include typography("t4", "bold");
  margin-bottom: $space-md; // This feels strange that nothing else has this
}

h5,
.text-h5 {
  @include typography("t4", "medium");
}

h6,
.text-h6 {
  @include typography("t3", "regular");
}

.text-body-1 {
  @include typography("t3", "regular");
}

.text-body-1-medium {
  @include typography("t3", "medium");
}

.text-body-1-bold {
  @include typography("t3", "bold");
}

.text-body-2-regular {
  @include typography("t2", "regular");
}

// standard text components
.text-component-question {
  @include typography("t3", "medium");
  margin-bottom: $space-xs;
}

.text-component-help {
  @include typography("t1", "regular");
  color: $color-neutral-600;
  margin-top: $space-xs;
  margin-bottom: $space-sm;

  .MuiTypography-root.MuiTypography-body1 {
    font-size: inherit;
  }
}

// LEGACY: TODO, REPLACE USAGE WITH NEWER UTILITY CLASSES

// note: this is a design size that is being used fairly widely in designs currently, and will likely be
// one of the sizes that should be promoted to a "real" size when we do our more systemetized type definitions
h4.intermediate,
.text-h4-intermediate {
  @include typography("t5", "bold");
}

.text-body-2 {
  @extend .text-t1;
  color: $color-text-main;
}

.text-menu-action {
  @extend .text-t0;
}

.data-point-1 {
  @extend .text-h1;
}

.text-data-label {
  @extend .text-t0;
  @extend .text-weight-light;
}

// color variants

.text-color-primary {
  color: $color-primary-600;
}

.text-color-primary-dark {
  color: $color-primary-800;
}

.text-color-black {
  color: $color-neutral-900;
}

.text-muted {
  color: $color-neutral-600;
}

.text-light {
  color: $color-text-light;
}

.text-warning {
  color: $color-warning;
}

.text-large {
  @include typography("t3", "regular");
}

.text-error {
  color: $color-error;
}

.text-fade {
  color: $color-neutral-600;
  background: linear-gradient($color-neutral-600, rgba($color-neutral-600, 0.3));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// TODO: Evaluate if this rule is ever used.
.text-t0.text-font-mono,
.text-t1.text-font-mono,
.text-t2.text-font-mono,
.text-t3.text-font-mono,
.text-t4.text-font-mono,
.text-t5.text-font-mono,
.text-t6.text-font-mono,
.text-t7.text-font-mono {
  line-height: 171%;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

dl {
  dt {
    @extend .text-light;
    @extend .text-data-label;
    margin-top: $space-md;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin-left: 0;
  }

  &.h1 {
    dd {
      @extend .text-h1;
    }
  }
}

.text-color-primary-800 {
  color: $color-primary-800;
}

abbr {
  border-bottom: 1px dotted $color-neutral-700;
  color: $color-neutral-700;
  cursor: help;
  border-radius: 2px;
  transition: background-color ease-in-out 0.125s;

  &:hover {
    background-color: $color-primary-100;
  }
}
