.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.fill {
  @extend %fill;
}

.del {
  text-decoration: line-through;
}

.opacity-50 {
  opacity: 50%;
}

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
}

$legacy-utility-gutters: (
  "0": 0,
  "auto": auto,
  "xs": $space-xs,
  "sm": $space-sm,
  "md": $space-md,
  "std": $space-md * 2,
  "lg": $space-lg,
  "xl": $space-xl,
);

@each $name, $size in $legacy-utility-gutters {
  .mb-#{$name} {
    margin-bottom: $size !important;
  }

  .mt-#{$name} {
    margin-top: $size !important;
  }

  .ml-#{$name} {
    margin-left: $size !important;
  }

  .mr-#{$name} {
    margin-right: $size !important;
  }

  .my-#{$name} {
    margin-top: $size !important;
    margin-bottom: $size !important;
  }

  .mx-#{$name} {
    margin-left: $size !important;
    margin-right: $size !important;
  }

  .m-#{$name} {
    margin-top: $size !important;
    margin-bottom: $size !important;
    margin-left: $size !important;
    margin-right: $size !important;
  }

  .pb-#{$name} {
    padding-bottom: $size !important;
  }

  .pt-#{$name} {
    padding-top: $size !important;
  }

  .pl-#{$name} {
    padding-left: $size !important;
  }

  .pr-#{$name} {
    padding-right: $size !important;
  }

  .py-#{$name} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }

  .px-#{$name} {
    padding-left: $size !important;
    padding-right: $size !important;
  }

  .p-#{$name} {
    padding-top: $size !important;
    padding-bottom: $size !important;
    padding-left: $size !important;
    padding-right: $size !important;
  }
}

.ml-muicheck {
  margin-left: $mui-checkbox-label-offset;
}

$utility-space: (
  "0": 0,
  "xxxs": $space-xxxs,
  "xxs": $space-xxs,
  "xs": $space-xs,
  "sm": $space-sm,
  "md": $space-md,
  "mdlg": $space-mdlg,
  "lg": $space-lg,
  "xl": $space-xl,
  "xxl": $space-xxl,
  "xxxl": $space-xxxl,
);

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.d-block {
  display: block;
}

.flex-grow {
  flex-grow: 1;
}

.flex-float {
  flex-basis: 0;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@each $name, $size in $utility-space {
  .mb-#{$name} {
    margin-bottom: $size !important;
  }

  .mt-#{$name} {
    margin-top: $size !important;
  }

  .ml-#{$name} {
    margin-left: $size !important;
  }

  .mr-#{$name} {
    margin-right: $size !important;
  }

  .my-#{$name} {
    margin-top: $size !important;
    margin-bottom: $size !important;
  }

  .mx-#{$name} {
    margin-left: $size !important;
    margin-right: $size !important;
  }

  .m-#{$name} {
    margin-top: $size !important;
    margin-bottom: $size !important;
    margin-left: $size !important;
    margin-right: $size !important;
  }

  .pb-#{$name} {
    padding-bottom: $size !important;
  }

  .pt-#{$name} {
    padding-top: $size !important;
  }

  .pl-#{$name} {
    padding-left: $size !important;
  }

  .pr-#{$name} {
    padding-right: $size !important;
  }

  .py-#{$name} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }

  .px-#{$name} {
    padding-left: $size !important;
    padding-right: $size !important;
  }

  .p-#{$name} {
    padding-top: $size !important;
    padding-bottom: $size !important;
    padding-left: $size !important;
    padding-right: $size !important;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-100 {
  width: 100% !important;
}

.w-85 {
  width: 85%;
}

.w-50 {
  width: 50%;
}

@each $name, $size in $named-spaces {
  .w-#{$name} {
    width: $size;
    min-width: $size;
  }

  .min-width-#{$name} {
    min-width: $size;
  }

  .max-width-#{$name} {
    max-width: $size;
  }
  .gap-#{$name} {
    gap: $size;
  }
}

.w-fit {
  width: fit-content;
}

.h-100 {
  height: 100%;
}
.h-48 {
  height: $space-xl;
}

.h-md {
  height: $space-md !important;
}

.size-lg {
  width: $space-lg;
  height: $space-lg;
}

.w-space-large {
  width: $space-lg;
}

.w-space-xl {
  width: $space-xl;
}

.w-space-xxl {
  width: $space-xxl;
}

.box-rounded {
  border-radius: $border-radius;
}

.box-shadow {
  box-shadow: $box-shadow;
}

.box-circle {
  border-radius: 50%;
}

.border-y {
  border-width: 1px 0 1px 0;
}

.border-x {
  border-width: 0 1px 0 1px;
}

.border {
  border: 1px solid $color-neutral-300;
}

.border-top {
  border-width: 1px 0 0 0;

  // TODO: Delete when we replace with color utilities
  border-top-style: solid;
  &--grey {
    border-color: $color-neutral-300;
  }
}

.border-right {
  border-width: 0 1px 0 0;
}

.border-left {
  border-width: 0 0 0 1px;
}

.border-bottom {
  border-width: 0 0 1px 0;

  // TODO: Delete when we replace with color utilities
  border-bottom-style: solid;
  &--grey {
    border-color: $color-neutral-300;
  }
}

.border-none {
  border: none;
}

.vertical-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}