.well--light {
  background-color: $color-neutral-100;
  border: 1px solid $color-neutral-400;
}

.well--white {
  background-color: white;
  border: 1px solid $color-neutral-200;
}

.well {
  padding: $space-md $space-mdlg;

  border-radius: 5px;
}