.sun-editor-editable table th {
  text-align: left;
}

.sun-editor-editable ul {
  list-style-position: outside;
}

.sun-editor .se-toolbar {
  background-color: $color-neutral-200;
  border-color: $color-neutral-500;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.sun-editor {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}