.description-checkbox {
  &__label {
    align-items: flex-start !important;
  }

  &__description {
    padding-top: 12px;
  }

  &--with-description {
    .description-checkbox__description {
      padding-top: 10px;
    }
  }

  &--light-purple {
    background-color: $color-primary-100;
    color: $color-primary-900;
    border: 1px solid $color-primary-200;
    border-radius: $border-radius;

    padding-left: $space-xs;
    padding-right: $space-xs;
    margin-left: $space-xs * -1 !important;
    margin-right: $space-xs * -1 !important;

    .description-checkbox__description {
      padding-bottom: 10px;
    }
  }

  &--yellow {
    background-color: $color-yellow-100;
    color: $color-yellow-900;
    border: 1px solid $color-yellow-200;
    border-radius: $border-radius;

    padding-left: $space-xs;
    padding-right: $space-xs;

    .description-checkbox__description {
      padding-bottom: 10px;
    }
  }

  .MuiCheckbox-root {
    margin-left: -12px; // Need to change this to -4px, but affects too many things Example Employee collection
    color: $color-primary-600;
  }

  .description-checkbox__checkbox {
    &--aligned {
      margin-left: -4px;
    }
  }
}

.MuiFormControlLabel-root {
  &.base-size .MuiFormControlLabel-label {
    font-size: 1rem;
  }
}
