.freetext--question {
  @include typography("t3", "bold");
  width: 100%;
}

.freetext--help-text {
  @include typography("t1");
  @extend .mb-xs;
  color: $color-neutral-600;
  width: 100%;
}

.freetext--error {
  @extend .text-t3;
  @extend .p-xs;
  @extend .mb-mdlg;
  width: 100%;
  background-color: $color-red-100;
  color: $color-red-900;
}
