.radio-freetext--question {
  @extend .text-t3;
  @extend .text-weight-bold;
  width: 100%;
}

.radio-freetext--help-text {
  @extend .text-t1;
  color: $color-neutral-600;
  width: 100%;
}

.radio-freetext--error {
  @extend .text-t3;
  @extend .p-xs;
  @extend .mb-mdlg;
  width: 100%;
  background-color: $color-red-100;
  color: $color-red-900;
}

.radio-freetext--radios {
  @extend .mt-xs;

  .MuiRadio-root {
    margin-left: -11px;
  }
  .MuiFormControlLabel-label {
    @extend .text-t3;
  }
}

.radio-freetext--other-container {
  // this value is hardcoded to the material-ui
  margin-left: $mui-radio-label-offset;
  margin-top: -$space-xs;
}

.radio-freetext--other-help-text {
  @extend .text-t1;
  color: $color-neutral-600;
  width: 100%;
}

.radio-freetext--textfield {
  width: $space-384;
}
